
.barrier {
	@include oTypographySans($scale: 0);
	:focus {
		outline: 4px solid getColor('claret');
		outline-offset: -4px;
	}
}

.barrier__section {
	&--white {
		background-color: getColor('white');
	}
	&--wheat {
		background-color: getColor('wheat');
	}
	&--teal {
		background: getColor('teal');
		color: getColor('white');
	}
	&--teal-dark {
		background: getColor('teal-40');
		color: getColor('white');
	}
	&--bleed-down {
		margin-bottom: -40px;
	}
}

.barrier__heading {
	@include oTypographySansBold();
	&-serif {
		@include oTypographySerifBold();
	}
	&--xs {
		@include oTypographySize($scale: 0);
	}
	&--s {
		@include oTypographySize($scale: 1);
	}
	&--m {
		@include oTypographySize($scale: 2);
	}
	&--l {
		@include oTypographySize($scale: 3);
	}
	&--xl {
		@include oTypographySize($scale: 4);
	}
	&--xxl {
		@include oTypographySize($scale: 5);
	}
	&--compact {
		margin: 0;
	}
	&--tight {
		margin: 5px 0;
	}
	&--light {
		font-weight: normal;
	}
	&--inline {
		display: inline;
	}

}

.barrier__button {
	&-primary {
		&--big {
			@include oButtons($size: big, $theme: primary);
		}
	}
	&-secondary {
		&--big {
			@include oButtons($size: big, $theme: secondary);
		}
	}
	&-inverse {
		&--big {
			@include oButtons($size: big, $theme: inverse);
		}
	}
	&-white {
		&--big {
			@include oButtons($size: big, $theme: inverse);
			@include oButtonsCustomTheme($background: 'white', $accent: 'teal', $colorizer: secondary);
		}
	}
}

.barrier__util {
	&-text {
		&--center {
			text-align: center;
		}
		&--right {
			text-align: right;
		}
	}
	&-quotes {
		&--double {
			&:before {
				content: '“';
			}
			&:after {
				content: '”';
			}
		}
	}
	&-padding {
		&--single {
			padding: 20px;
		}
		&--double {
			padding: 40px;
		}
	}
	&-margin {
		&--top {
			margin-top: 20px;
		}
		&--right {
			margin-right: 20px;
		}
		&--bottom {
			margin-bottom: 20px;
		}
		&--left {
			margin-left: 20px;
		}
	}
	&-hide {
		&--s {
			@include oGridRespondTo($until: M) {
				display: none;
			}
		}
	}
}
