@import "o-icons/main";

.barrier {
	@include oTypographySans($scale: 0);

	:focus {
		outline: 4px solid getColor('teal-100');
		outline-offset: -4px;
	}
}

.barrier__section {
	&--white {
		background-color: getColor('white-60');
	}

	&--white-bright {
		background-color: getColor('white');
	}

	&--wheat {
		background-color: getColor('wheat');
	}

	&--teal {
		background: getColor('teal');
		color: getColor('white');
	}

	&--teal-dark {
		background: getColor('teal-40');
		color: getColor('white');
	}

	&--teal-light {
		background: getColor('teal-80');
	}

	&--bleed-down {
		margin-bottom: -40px;
		padding-bottom: 20px;
	}

	&--terms {
		margin-bottom: 40px;
	}

	&--package-image {
		display: none;
		@include oGridRespondTo(M) {
			display: block;
		}
	}

	&--newspaper {
		background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fwww.ft.com%2F__assets%2Fcreatives%2Fproduct%2FPrintPackshot-2017-09-07_smallest.png?source=next");
		background-position: center bottom;
		background-repeat: no-repeat;
		padding-bottom: 48px;

		.barrier__heading--m {
			margin-bottom: 0;
		}

		.barrier__button {
			border: getColor('black');
			margin-top: 20px;
		}

		+ .barrier__section--terms {
			padding-top: 20px;
		}
	}
}

.barrier__heading {
	@include oTypographySansBold();

	&-serif {
		@include oTypographyDisplayBold();
	}

	&--xs {
		@include oTypographySize($scale: 0);
	}

	&--s {
		@include oTypographySize($scale: 1);
	}

	&--m {
		@include oTypographySize($scale: 2);
	}

	&--l {
		@include oTypographySize($scale: 3);
	}

	&--xl {
		@include oTypographySize($scale: 4);
	}

	&--xxl {
		@include oTypographySize($scale: 5);
	}

	&--compact {
		margin: 0;
	}

	&--tight {
		margin: 0 0 5px;
	}

	&--light {
		font-weight: normal;
	}

	&--inline {
		display: inline;
	}

}

%barrier-banner-shared {
	.barrier__heading {
		@include oTypographySize($scale: 6);
	}

	.barrier__heading--sub {
		opacity: 0.5;
	}

	.barrier-banner--copy {
		@include oGridColspan((default: 12, M: 7));
	}

	.barrier__heading--content {
		@include oGridColspan((default: 12, M: 6));
	}

}
%barrier-background-shared {
	@include oGridRespondTo(M) {
		background-repeat: no-repeat;
		content: '';
		display: block;
		position: absolute;
		z-index: 0;
	}
}

.barrier-banner {
	overflow: hidden;
	position: relative;

	.o-grid-container {
		padding-bottom: 20px;
		padding-top: 20px;
	}

	.o-grid-row {
		position: relative;
		z-index: 1;
	}

	// The following are used in the new variant
	&--dynamic {
		overflow: visible;

		@include oGridRespondTo(M) {
			.o-grid-row {
				min-height: 337px;
			}
		}

		&::after {
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0) 100%);
			bottom: 0;
			content: '';
			display: block;
			height: 30px;
			position: absolute;
			width: 100%;
			z-index: 3;
		}

		.barrier__leading-text {
			@include oTypographySansBold($scale: -1);

			@include oGridRespondTo(M) {
				@include oTypographySize($scale: 1);
			}
		}
	}
	&__img {
		bottom: -20px;
		display: none;
		position: absolute;
		z-index: 1;

		@include oGridRespondTo(M) {
			display: block;
			right: -250px;
		}
		@include oGridRespondTo(L) {
			right: -50px;
		}
	}
	&__quote {
		blockquote {
			@include oTypographyDisplay($scale: 3, $line-height: 28px);
			font-weight: 400;
			margin: 15px 0 0;
			position: relative;

			@include oGridRespondTo(M) {
				@include oTypographySize($scale: 6, $line-height: 44px);
			}

			&::after {
				@include oIconsGetIcon('speech-right', getColor('black-10'), 50);
				bottom: -18px;
				content: '';
				left: -20px;
				position: relative;

				@include oGridRespondTo(M) {
					bottom: -27px;
					left: -25px;
				}
			}

			&::before {
				@include oIconsGetIcon('speech-left', getColor('black-10'), 50);
				content: '';
				left: -25px;
				margin-right: -44px;
				position: absolute;
				top: 30px;

				@include oGridRespondTo(M) {
					left: -35px;
					top: 20px;
				}
			}

			&::after,
			&::before {
				display: inline-block;
				margin-top: -40px;
				z-index: -1;

				@include oGridRespondTo(M) {
					height: 60px;
					width: 60px;
				}
			}
		}
	}
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0 30px;

		@include oGridRespondTo(M) {
			padding: 0 0 0 10px;
		}
		@include oGridRespondTo(L) {
			padding: 0 0 0 70px;
		}
	}
	&__content {
		@include oTypographySans($scale: -1);
		padding-left: 7px;
		position: relative;

		@include oGridRespondTo(M) {
			@include oTypographySize($scale: 1);
			padding-left: 55px;
		}

		&::before {
			background: getColor('black');
			bottom: -60px;
			content: '';
			display: block;
			height: 100%;
			left: -15px;
			padding-bottom: 60px;
			position: absolute;
			width: 1px;

			@include oGridRespondTo(M) {
				left: 25px;
			}
		}

		ul,
		ol {
			list-style: none;
			padding-left: 0;
		}
		li {
			&::before {
				@include oIconsGetIcon('tick', getColor('black'), 26);
				content: '';
				display: inline-block;
				margin-left: -6px;
				margin-top: -3px;
				vertical-align: middle;
			}
		}
	}

	// The below are used in the previous implementation.
	.barrier__heading {
		@include oTypographySize($scale: 5);
	}

	&__image {
		margin-top: -84px;

		&__container {
			float: none;
			margin-left: auto;
			@include oGridRespondTo($until: M) {
				display: none;
			}
		}
	}

	&--copy {
		@include oGridColspan((default: 12, M: 6));
	}

	&--content {
		@include oGridColspan((default: 12, M: 5));
	}

	&--brexit {
		@extend %barrier-banner-shared;
		
		background-color: getColor('oxford-30');
		color: white;

		.o-grid-container:after {
			@extend %barrier-background-shared;
			
			@include oGridRespondTo(M) {
				background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1:brand-brexit?source=origami-registry&width=430);
				background-position: 100% 50%;
				bottom: -215px;
				height: 430px;
				right: 20px;
				width: 430px;
			}
		}
	}

	&--cryptocurrencies {
		@extend %barrier-banner-shared;
		
		background-color: getColor('velvet');
		color: white;

		.o-grid-container:after {
			@extend %barrier-background-shared;
			
			@include oGridRespondTo(M) {
				background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fs3-eu-west-1.amazonaws.com%2Fft-next-assets-prod%2Fassets%2Fbackgrounds%2Fbarriers%2Fcryptocurrencies.svg?source=next&format=svg);
				bottom: -80px;
				height: 348px;
				opacity: 0.75;
				right: 20px;
				width: 566px;
			}
		}
	}

	&--global {
		@extend %barrier-banner-shared;

		background-color: #003894;
		color: getColor('white');

		&:after {
			@extend %barrier-background-shared;
			
			@include oGridRespondTo(M) {
				background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fs3-eu-west-1.amazonaws.com%2Fft-next-assets-prod%2Fassets%2Fbackgrounds%2Fbarriers%2Fglobal.svg?source=next&format=svg);
				bottom: -62px;
				height: 413px;
				right: -120px;
				width: 520px;
			}
		}
	}

	&--markets {
		@extend %barrier-banner-shared;

		background-color: getColor('paper');

		&:after {
			@extend %barrier-background-shared;
			
			@include oGridRespondTo(M) {
				background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fs3-eu-west-1.amazonaws.com%2Fft-next-assets-prod%2Fassets%2Fbackgrounds%2Fbarriers%2Fmarkets.svg?source=next&format=svg);
				bottom: -40px;
				height: 286px;
				right: -420px;
				width: 1791px;
			}
			@include oGridRespondTo(L) {
				right: -220px;
			}
			@include oGridRespondTo(XL) {
				right: -50px;
			}
		}
	}
}

.barrier__button {
	&-primary {
		&--big {
			@include oButtons($size: big, $theme: primary);
		}
	}

	&-secondary {
		&--big {
			@include oButtons($size: big, $theme: secondary);
		}

		&--darker {
			color: getColor('teal-40');
		}
	}

	&-inverse {
		&--big {
			@include oButtons($size: 'big', $theme: (
			accent: 'white',
			background: 'teal',
			colorizer: 'secondary'));
		}
	}

	&-white {
		&--big {
			@include oButtons($size: big, $theme: inverse);
			@include oButtonsCustomTheme('white', 'teal');
		}
	}

	&--black {
		&--big {
			@include oButtons($size: big, $theme: primary);
			@include oButtonsCustomTheme('black', 'white');
		}
	}

	&-wide {
		width: 100%;
	}
}
