
.barrier {
	@include oTypographySans($scale: 0);

	:focus {
		outline: 4px solid getColor('teal-100');
		outline-offset: -4px;
	}
}

.barrier__section {
	&--white {
		background-color: getColor('white-60');
	}

	&--white-bright {
		background-color: getColor('white');
	}

	&--wheat {
		background-color: getColor('wheat');
	}

	&--teal {
		background: getColor('teal');
		color: getColor('white');
	}

	&--teal-dark {
		background: getColor('teal-40');
		color: getColor('white');
	}

	&--teal-light {
		background: getColor('teal-80');
	}

	&--bleed-down {
		margin-bottom: -40px;
		padding-bottom: 20px;
	}

	&--terms {
		padding-bottom: 40px;
	}

	&--package-image {
		display: none;
		@include oGridRespondTo(M) {
			display: block;
		}
	}

	&--newspaper {
		background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fwww.ft.com%2F__assets%2Fcreatives%2Fproduct%2FPrintPackshot-2017-09-07_smallest.png?source=next");
		background-position: center bottom;
		background-repeat: no-repeat;
		padding-bottom: 48px;

		.barrier__heading--m {
			margin-bottom: 0;
		}

		.barrier__button {
			border: getColor('black');
			margin-top: 20px;
		}

		+ .barrier__section--terms {
			padding-top: 20px;
		}
	}
}

.barrier__heading {
	@include oTypographySansBold();

	&-serif {
		@include oTypographyDisplayBold();
	}

	&--xs {
		@include oTypographySize($scale: 0);
	}

	&--s {
		@include oTypographySize($scale: 1);
	}

	&--m {
		@include oTypographySize($scale: 2);
	}

	&--l {
		@include oTypographySize($scale: 3);
	}

	&--xl {
		@include oTypographySize($scale: 4);
	}

	&--xxl {
		@include oTypographySize($scale: 5);
	}

	&--compact {
		margin: 0;
	}

	&--tight {
		margin: 0 0 5px;
	}

	&--light {
		font-weight: normal;
	}

	&--inline {
		display: inline;
	}

}

%barrier-banner-shared {
	.barrier__heading {
		@include oTypographySize($scale: 6);
	}

	.barrier__heading--sub {
		opacity: 0.5;
	}

	.barrier-banner--copy {
		@include oGridColspan((default: 12, M: 7));
	}

	.barrier__heading--content {
		@include oGridColspan((default: 12, M: 6));
	}

}
%barrier-background-shared {
	@include oGridRespondTo(M) {
		background-repeat: no-repeat;
		content: '';
		display: block;
		position: absolute;
		z-index: 0;
	}
}

.barrier-banner {
	overflow: hidden;
	position: relative;

	.o-grid-container {
		padding-bottom: 20px;
		padding-top: 20px;
	}

	.o-grid-row {
		position: relative;
		z-index: 1;
	}

	.barrier__heading {
		@include oTypographySize($scale: 5);
	}

	&__image {
		margin-top: -84px;

		&__container {
			float: none;
			margin-left: auto;
		}
	}

	&--copy {
		@include oGridColspan((default: 12, M: 6));
	}

	&--content {
		@include oGridColspan((default: 12, M: 5));
	}

	&--brexit {
		@extend %barrier-banner-shared;
		
		background-color: getColor('oxford-30');
		color: white;

		.o-grid-container:after {
			@extend %barrier-background-shared;
			
			@include oGridRespondTo(M) {
				background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1:brand-brexit?source=origami-registry&width=430);
				background-position: 100% 50%;
				bottom: -215px;
				height: 430px;
				right: 20px;
				width: 430px;
			}
		}
	}

	&--cryptocurrencies {
		@extend %barrier-banner-shared;
		
		background-color: getColor('velvet');
		color: white;

		.o-grid-container:after {
			@extend %barrier-background-shared;
			
			@include oGridRespondTo(M) {
				background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fs3-eu-west-1.amazonaws.com%2Fft-next-assets-prod%2Fassets%2Fbackgrounds%2Fbarriers%2Fcryptocurrencies.svg?source=next&format=svg);
				bottom: -80px;
				height: 348px;
				opacity: 0.75;
				right: 20px;
				width: 566px;
			}
		}
	}

	&--global {
		@extend %barrier-banner-shared;

		background-color: #003894;
		color: getColor('white');

		&:after {
			@extend %barrier-background-shared;
			
			@include oGridRespondTo(M) {
				background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fs3-eu-west-1.amazonaws.com%2Fft-next-assets-prod%2Fassets%2Fbackgrounds%2Fbarriers%2Fglobal.svg?source=next&format=svg);
				bottom: -62px;
				height: 413px;
				right: -120px;
				width: 520px;
			}
		}
	}

	&--markets {
		@extend %barrier-banner-shared;

		background-color: getColor('paper');

		&:after {
			@extend %barrier-background-shared;
			
			@include oGridRespondTo(M) {
				background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fs3-eu-west-1.amazonaws.com%2Fft-next-assets-prod%2Fassets%2Fbackgrounds%2Fbarriers%2Fmarkets.svg?source=next&format=svg);
				bottom: -40px;
				height: 286px;
				right: -420px;
				width: 1791px;
			}
			@include oGridRespondTo(L) {
				right: -220px;
			}
			@include oGridRespondTo(XL) {
				right: -50px;
			}
		}
	}
}

.barrier__button {
	&-primary {
		&--big {
			@include oButtons($size: big, $theme: primary);
		}
	}

	&-secondary {
		&--big {
			@include oButtons($size: big, $theme: secondary);
		}

		&--darker {
			color: getColor('teal-40');
		}
	}

	&-inverse {
		&--big {
			@include oButtons($size: big, $theme: inverse);
		}
	}

	&-white {
		&--big {
			@include oButtons($size: big, $theme: inverse);
			@include oButtonsCustomTheme('white', 'teal');
		}
	}

	&--black {
		&--big {
			@include oButtons($size: big, $theme: primary);
			@include oButtonsCustomTheme('black', 'white');
		}
	}

	&-wide {
		width: 100%;
	}
}
