@import 'helpers/mixins';
@import 'helpers/colors';
@import 'barrier';
@import 'barriers/premium';
@import 'barriers/trial-grid';
@import 'barriers/barrier-grid';
@import 'barriers/corporate';
@import 'barriers/narrow';
@import 'barriers/mobile';
@import 'barriers/corp-prospect-trial'; // new corp prospect trial
@import 'barriers/individual-b2b-prospect'; // TODO: remove
@import 'barriers/individual-b2b';
@import 'barriers/embedded-b2b-prospect';
@import 'components/cta-strip';
@import 'components/secondary-messaging';
@import 'components/package-card-colour';

.barrier-grid__heading {
	margin-bottom: 0px;
	max-width: 75%;
	min-width: 75%;
	padding: 0 0 10px 10px;
	box-sizing: border-box;
	@include oTypographySansBold($scale: 2);
}

div .barrier-grid__heading {
	margin-bottom: 0px;
	max-width: 100%;
	min-width: 75%;
	padding: 0 0 0px 10px;
	box-sizing: border-box;
	@include oTypographySansBold($scale: 2);
}

h1 .barrier-grid__article-title {
	@include oTypographySans($scale: 2);
	display: block;
}

.barrier-grid__header .barrier-grid__sign-in {
	min-width: 100%;
}

.trial-barrier-grid__header .trial-barrier-grid__sign-in {
	min-width: 100%;
	background-color: getColor('black-20'); //to match other barriers
}

@include oGridRespondTo($from: L) {
	.trial-barrier-grid__header .trial-barrier-grid__sign-in {
		background-color: getColor('black-5');
	}
}

.barrier-grid__article-title {
	@include oTypographySans($scale: 2);
	margin-bottom: 10px;
	max-width: 100%;
	min-width: 75%;
	padding: 0 0 10px 10px;
	box-sizing: border-box;
}

.barrier-grid__section-heading {
	@include oTypographySansBold($scale: 2);
}

