.barrier__embedded-b2b-prospect {
	&__container {
		display: flex;
		flex-flow: column wrap;
		@include oGridRespondTo(L) {
			flex-flow: row nowrap;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		@include oGridRespondTo(L) {
			width: 520px;
		}
	}

	&__separator {
		border: 0;
		height: 0;
		border-top: 1px solid getColor('black-40');
	}

	&__corporate-list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		list-style: none;
		padding: 0;

		li {
			flex-basis: 50%;
			box-sizing: border-box;
			@include oGridRespondTo(S) {
				flex-basis: 25%;
			}
		}

		img {
			display: block;
			width: 80%;
			margin: 5px auto;
		}
	}

	&__quote-list {
		@include oTypographySize(2);
		margin: 0;
		padding: 0;
		position: relative;
		flex-grow: 1;
		list-style: none;

		@include oGridRespondTo(L) {
			margin: 40px 0;
			padding: 40px 0;
		}

		&::before {
			@include oGridRespondTo($from: L) {
				position: absolute;
				height: 4px;
				width: 54px;
				background: getColor('teal');
				top: 0;
				left: 0;
				content: '';
			}
		}

		li {
			@include oTypographySize($scale: 1);
			margin-bottom: 25px;
		}
	}

	&__bullet-list {
		margin-top: 16px;
		padding-left: 20px;
		
		li {
			margin-bottom: 16px;
		}
	}

	&__form {
		padding: 20px 0;
		width: 305px;
		margin: 0 auto;
		position: relative;
		@include oGridRespondTo($from: M) {
			min-width: 380px;
			width: 380px;
			text-align: center;
		}
		@include oGridRespondTo(L) {
			padding: 0 20px;
		}

		&-anchor {
			position: absolute;
			top: -50px;
		}
	
		&-frame {
			height: 850px;
			margin: 0 auto;
			border: 0;
		}
	}

	&__factiva-frame {
		height: 900px;
		margin: 0 auto;
		border: 0;
		@include oGridRespondTo($until: M) {
			height: 930px;
		}
	}

	&__cta-strip {
		@include oGridRespondTo($from: M) {
			align-items: center;
			justify-content: center;
			text-align: center;
		}

		&__button {
			@include oGridRespondTo($until: M) {
				margin-top: 20px;
				width: 100%;
			}
		}
	}

}
