/*****************************************
* Header
*****************************************/

.mobile-barrier-grid__header {
	margin-top: 10px;
	padding: 5px 10px;
	background-color: getColor('black-5');
	h2 {
		@include oTypographySansBold($scale: 0);
		@include oGridColspan((default: full-width, L: three-quarters));
		margin: 0;
		.mobile-barrier-grid__heading-pretext {
			@include oTypographySans($scale: 0);
		}
	}
}

.mobile-barrier-grid__sign-in {
	@include oTypographySansBold($scale: -1);
	width: 100%;
	text-align: center;
	color: $grey63;
	margin-bottom: 0;
}


/*****************************************
* Main options
*****************************************/

.mobile-barrier-grid__option-inner {
	padding: 10px 10px 10px 0;
	text-align: center;
	color: getColor('white');
	h3 {
		@include oTypographySansBold($scale: 0);
		margin: 0;
	}
	p {
		margin: 5px 0;
	}
}

.mobile-barrier-grid__option--option0 {
	background: getColor('oxford-30');
}

.mobile-barrier-grid__option--option1 {
	background: getColor('oxford-40');
}

.mobile-barrier-grid__option--option2 {
	background: getColor('oxford-50');
}

.mobile-barrier-grid__option--option3 {
	background: getColor('oxford-60');
}

.mobile-barrier-grid__options {
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.mobile-barrier-grid__option {
	border-radius: 5px;
	margin: 10px auto 0;
}

.mobile-barrier-grid__price {
	@include oTypographySansBold($scale: 0);
	display: inline-block;
	span {
		font-weight: normal;
	}
}