.barrier__cta-strip {
    background: getColor('teal-40');
    color: getColor('white');
    display: flex;
    flex-direction: row;
    align-items: stretch;
    &__heading {
        @include oTypographySansBold($scale: 3);
        margin: 0 0 10px;
        &-sub {
            @include oTypographySans($scale: 0);
        }
    }
    .barrier__cta-strip__column {
        display: flex;
        padding: 20px;
        flex-direction: column;
        justify-content: center;
        @include oGridRespondTo($until: M) {
            justify-content: start;
            &-hide-s {
                display: none;
            }
        }
        &-right {
            text-align: right;
        }
    }
    .barrier__cta-strip__button {
        @include oButtons($size: big, $theme: inverse);
    }
    .barrier__cta-strip__icon {
        @include responsiveIcon('users', 'white');
    }
}
