.barrier__package-card--colour {
    @include oSubsCard;
    .o-subs-card__copy-title {
        font-size: 22px;
        padding: 0 20px;
        min-height: 56px;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:first-child {
            padding-top: 16px;
        }
    }
}

.barrier__package-card--colour--standard,
.barrier__package-card--colour--register {
    .o-subs-card__top {
        background-color: getColor('teal-50');
    }
    .o-subs-card__select-button {
        @include oButtonsCustomTheme($background: 'white', $accent: 'teal', $colorizer: secondary);
    }
}

.barrier__package-card--colour--premium,
.barrier__package-card--colour--trial {
    @include oSubsCardPremium;
    .o-subs-card__select-button {
        @include oButtonsCustomTheme($background: 'white', $accent: teal-30, $colorizer: secondary);
    }
}

.barrier__package-card--colour--premium-plus,
.barrier__package-card--colour--newspaper_bundle {
    @include oSubsCardPremiumPlus;
    .o-subs-card__select-button {
        @include oButtonsCustomTheme($background: 'white', $accent: teal-40, $colorizer: secondary);
    }
}

.barrier__package-card--colour--discount {
    @include oSubsCardDiscount;
    .o-subs-card__select-button {
        @include oButtonsCustomTheme($background: 'white', $accent: claret-30, $colorizer: secondary);
        border-color: getColor('claret-80');
        color: getColor('claret-80');
    }
}

.barrier__package-card--colour__copy {
    &-title {
        &-discount {
            margin: 0;
        }
    }
    &-image {
        width: 80%;
        &-container {
            position: relative;
        }
    }
    &-discount-roundel {
        position: absolute;
        top: 5vh;
        right: 11vw;
        background-color: getColor('claret-80');
        color: getColor('white');
        display: block;
        border-radius: 50%;
        padding: 0.7em;
        text-align: center;
        @include oTypographySize($scale: 0, $line-height: 17px);
        @include oGridRespondTo($until: M) {
            top: -70px;
            right: 10px;
        }
        @include oGridRespondTo(L) {
            @include oTypographySize($scale: -2, $line-height: 12px);
            top: 10px;
            right: 25px;
        }
        @include oGridRespondTo(XL) {
            top: 17px;
            right: 30px;
        }
    }
    &-discount-label {
        display: block;
    }
    &-benefits__title {
        padding: 0 20px;
    }
}

.barrier__package-card-grid {
    margin-bottom: 40px;
}
