.trial-barrier-grid__other-options {
	padding-top: 10px;
	background-color: getColor('white');
}

.trial-barrier-grid__other-options h3,
.trial-barrier-grid__other-options p {
	@include oTypographySansBold($scale: 0);
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid getColor('black-5');
	margin: 0;
}

// Avoiding refactoring due to hairy yak fear 🙈
.trial-barrier-grid__other-options div p {
	border: 0;
	margin: 15px 0;
}

.trial-barrier-grid__other-option {
	.trial-barrier-grid__other-option-inner {
		text-align: center;
		padding-bottom: 18px;
	}
	a {
		@include oTypographySansBold($scale: -1);
		border: 0;
		overflow: hidden;
		.trial-barrier-grid__option-options-text {
			display: block;
		}
		&::before {
			content: '';
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.trial-barrier-grid__other-options .trial-barrier-grid__other-option {
	@include oGridColspan((default: one-third));
}

.trial-barrier-grid__other-options[data-option-count="3"] .trial-barrier-grid__other-option {
	@include oGridColspan((default: one-third));
}

.trial-barrier-grid__other-options[data-option-count="4"] .trial-barrier-grid__other-option {
	@include oGridColspan((default: one-quarter));
}

.trial-barrier-grid__other-option--corporate a {
	&::before {
		@include oIconsGetIcon('corporate', getColor('teal-40'), 35);
	}
}

.trial-barrier-grid__other-option--newspaper a {
	&::before {
		@include oIconsGetIcon('newspaper', getColor('teal-40'), 35);
	}
}

.trial-barrier-grid__other-option--weekend-paper a {
	&::before {
		// TODO: this is temporary before the feature is permanent and then we
		// can add the icon to oIcons (fticons) as with the others
		background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fwww.ft.com%2F__assets%2Fcreatives%2Ficons%2Fweekend-premium.svg?source=next&tint=%2326747A,%2326747A&format=svg");
		background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fwww.ft.com%2F__assets%2Fcreatives%2Ficons%2Fweekend-premium.svg?source=next&tint=%2326747A,%2326747A&format=png&width=35") \9;
		width: 35px;
		height: 35px;
		display: inline-block;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 50%;
		background-color: transparent;
		vertical-align: baseline;
	}
	.trial-barrier-grid__option-options-text {
		&::before {
			content: 'new';
			text-transform: uppercase;
			@include oTypographySans($scale: -2);
			line-height: 10px;
			color: getColor('white');
			background-color: getColor('mandarin');
			padding: 1px 2px;
			margin-right: 5px;
		}
	}
}

.trial-barrier-grid__other-option--weekend a {
	&::before {
		@include oIconsGetIcon('ipad',
		getColor('teal-40'),
		35);
	}
}