//TODO: deprecate in favour of o-grid
.package-grid--2 .package-grid-option {
	min-width: 50%;
}

.package-grid--3 .package-grid-option {
	min-width: 33.33%;
}

.package-grid--4 .package-grid-option {
	min-width: 25%;
}

.package-grid-option__title,
.package-grid-option__subtitle {
	text-transform: uppercase;
	text-align: center;
}

.package-grid-option__title {
	@include oTypographySansBold($scale: 0);
	color: getColor('teal-40');
	margin: 10px 0;
}

.package-grid-option__subtitle {
	color: getColor('claret-60');
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	top: 14px;
}

.package-grid-option__image {
	margin-bottom: 10px;
	position: relative;
	img {
		width: 80%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.package-grid-option__discount-roundel {
	position: absolute;
	top: 5vh;
	right: 11vw;
	background-color: getColor(claret);
	color: getColor('white');
	display: block;
	border-radius: 50%;
	padding: 0.7em;
	text-align: center;
	@include oTypographySans($scale: 0, $line-height: 17px);
	@include oGridRespondTo(S) {
		top: 20px;
		right: 30px;
	}
	@include oGridRespondTo(L) {
		@include oTypographySans($scale: -2, $line-height: 12px);
		top: 10px;
		right: 25px;
	}
	@include oGridRespondTo(XL) {
		top: 17px;
		right: 30px;
	}
}

.package-grid-option__discount-label {
	display: block;
}

.package-grid-option__primary {
	text-align: center;
	margin-bottom: 20px;
}

.package-grid-option__primary--sub-offer {
	border-top: 1px solid getColor('black-5');
	padding-top: 10px;
}

.package-grid-option__price,
.package-grid-option__select {
	display: inline-block;
}

.package-grid-option__price {
	@include oTypographySansBold($scale: 2);
	margin: 0 4px 10px 0;
	padding: 5px;
	@include oGridRespondTo(L) {
		display: block;
		margin-right: 0;
		&.standout {
			background-color: getColor('claret-60');
			color: getColor('white');
			.terms-and-conditions__marker {
				color: getColor('white');
			}
		}
	}
	span {
		@include oTypographySans($scale: 1);
		font-weight: normal;
	}
}

.package-grid-option__select {
	@include oButtons($size: big, $theme: primary);
	text-transform: none;
}

.package-grid-option__secondary {
	padding-left: 30px;
	padding-right: 30px;
	h2,
	h4 {
		@include oTypographySansBold($scale: -1);
		margin-bottom: 3px;
		margin-top: 0;
	}
	ul {
		@include oTypographySans($scale: -1);
		list-style: none;
		margin: 0 0 20px;
		padding: 0;
	}
}

.package-grid-option li {
	position: relative;
	margin-left: 20px;
	&::before {
		@include oIconsGetIcon('tick', getColor('jade'), 14);
		content: '';
		margin-right: 4px;
		position: absolute;
		top: 2px;
		left: -20px;
	}
}

.package-grid-option__inner {
	background-color: getColor('white');
	padding-top: 20px;
	padding-bottom: 10px;
	flex: 1;
}

.package-grid-option__learn-more {
	@include oTypographySansBold($scale: 0);
	a {
		text-decoration: none;
		color: getColor('teal-40');
	}
}

.package-grid-option__other-options {
	h2 {
		@include oTypographySansBold(0);
		line-height: 17px;
		text-align: center;
		padding-bottom: 10px;
		border-bottom: 1px solid getColor('black-5');
	}
}

.package-grid-option {
	@include oGridColspan((default: full-width, S: one-half, L: one-quarter));
	background: getColor('white');
	color: getColor('black');
	border-bottom: 1px solid getColor('black-5');
}

.package-grid-option__discount {
	background: $greyF5;
	.package-grid-option__inner {
		background: $greyF5;
	}
}

.package-grid-option--0,
.package-grid-option--2 {
	@include oGridRespondTo(S) {
		border-right: 1px solid getColor('black-5');
	}
}

.package-grid-option,
.package-grid-option--0,
.package-grid-option--1 {
	@include oGridRespondTo(L) {
		border-right: 1px solid getColor('black-5');
	}
}

.package-grid--missing-newspaper {
	.package-grid-option {
		@include oGridColspan((default: full-width, M: one-third));
	}
	.package-grid-option--2,
	.package-grid-option--3 {
		@include oGridRespondTo(M) {
			border-right: 1px solid getColor('black-5');
		}
	}
	.package-grid-option--4 {
		border-right: 0;
	}
	.package-grid-option__price {
		margin-right: 4px;
		@include oGridRespondTo(M) {
			display: block;
			margin-right: 0;
			margin-bottom: 10px;
		}
	}
}

// styles for multiple trials on trial-grid
.package-grid-option .package-grid-option__options .package-grid-option__title.package-grid-option__title__secondary {
	text-align: left;
	padding-left: 10px;
	margin-bottom: 5px;
}

.package-grid-option .package-grid-option__options .package-grid-option__price.package-grid-option__price__secondary {
	text-align: left;
	display: block;
	padding-left: 10px;
	margin-bottom: 5px;
}

.package-grid-option__primary--sub-offer {
	border-bottom-color: getColor('paper');
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 10px;
	position: relative;
}

.package-grid-option__select__secondary::before {
	content: 'OR';
	position: absolute;
	top: -20px;
	right: 35px;
	background: getColor('white');
	padding: 0 10px;
	color: getColor('black-70');
}

.package-grid-option__primary .package-grid-option__select.package-grid-option__select__test {
	margin-top: 10px;
}

.package-grid-option__primary .package-grid-option__select.package-grid-option__select__secondary {
	margin-top: 10px;
	@include oTypographySize(-1);
	padding-left: 8px;
	padding-right: 8px;
}

.package-grid-option__price__transparency {
	color: getColor('black-70');
	text-align: left;
	padding: 0 10px;
	@include oTypographySize(-1);
}

.package-grid-option__secondary.package-grid-option__price__transparency {
	margin: 0 20px 15px;
	padding: 0;
}

.package-grid-option__secondary h2 {
	@include oTypographySize(-1);
}