$o-grid-gutters: (default: 0px, M: 0px);

.brexit-trial-barrier-grid {
	position: relative;
	margin: 20px 0;
}

.brexit-trial-barrier-grid h2,
.brexit-trial-barrier-grid h3,
.brexit-trial-barrier-grid p {
	margin: 0;
}

.brexit-trial-barrier-grid__header {
	background-color: oColorsGetPaletteColor('warm-2');
	h2 {
		@include oTypographySansBold(m);
		@include oGridColspan((default: full-width, L: three-quarters));
	}

	h2 {
		padding-left: 10px;
	}

	h2 .brexit-trial-barrier-grid__heading-pretext {
		display: block;
		padding-top: 10px;
	}

	h2 .brexit-trial-barrier-grid__article-title {
		font-weight: normal;
		display: block;
		margin-bottom: 10px;
	}

	.brexit-trial-barrier-grid__sign-in {
		@include oTypographySansBold(s);
		@include oGridColspan((default: full-width, L: one-quarter));

		background-color: oColorsGetPaletteColor('warm-3');
		padding: 10px;

		@include oGridRespondTo(L) {
			background-color: oColorsGetPaletteColor('warm-2');
			text-align: right;
			padding-top: 12px;
		}

	}

	.brexit-trial-barrier-grid__pretext {
		@include oGridRespondTo(L) {
			display: block;
		}
	}
}

/*****************************************
* Main options
*****************************************/

.brexit-trial-barrier-grid {
	.brexit-trial-barrier-grid__options {
		h3 {
			@include oTypographySans(s);
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 10px;
			font-weight: bold;
		}
	}

	.brexit-trial-barrier-grid__image {
		margin-bottom: 10px;
		img {
			width: 80%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.brexit-trial-barrier-grid__primary {
		text-align: center;
		margin-bottom: 20px;
	}

	.brexit-trial-barrier-grid__price {
		display: inline-block;
		&.standout {
			background-color: #9e2f50;
			color: white;
			padding: 5px;
		}
	}
	.brexit-trial-barrier-grid__select {
		display: inline-block;
	}

	.brexit-trial-barrier-grid__price {
		margin-right: 4px;
		font-weight: bold;
		font-size: 20px;
		@include oGridRespondTo(L) {
			display: block;
			margin-right: 0;
			margin-bottom: 10px;
		}

		span {
			font-weight: normal;
			font-size: 18px;
		}
	}

	.brexit-trial-barrier-grid__select {
		@include nButtons();
		@include nButtonsSize(big);
		@include nButtonsTheme(standout);
		text-transform: none;
	}

	.brexit-trial-barrier-grid__secondary {

		padding-left: 30px;
		padding-right: 30px;

		h4 {
			@include oTypographySansBold(s);
			margin-bottom: 3px;
			margin-top: 0;
		}

		ul {
			@include oTypographySansBold(s);
			list-style: none;
			font-weight: normal;
			margin: 0 0 20px;
			padding: 0;
		}

	}

	.brexit-trial-barrier-grid__option--option1 li,
	.brexit-trial-barrier-grid__option--option2 li,
	.brexit-trial-barrier-grid__option--option3 li,
	.brexit-trial-barrier-grid__option--option4 li {
		position: relative;
		margin-left: 20px;

		&:before {
			@include oIconsGetIcon('tick', #35bd14, 14);
			content: '';
			margin-right: 4px;
			position: absolute;
			top: 2px;
			left: -20px;
		}
	}

	.brexit-trial-barrier-grid__option-inner {
		background-color: oColorsGetPaletteColor('white');
		padding-top: 20px;
		padding-bottom: 10px;

		flex: 1;
	}

	.brexit-trial-barrier-grid__option {

		@include oGridColspan((default: full-width, S: one-half, L: one-third));
		background: white;
		color: black;
		border-bottom: 1px solid oColorsGetPaletteColor('warm-2');

		&.brexit-trial-barrier-grid__option--option1,
		&.brexit-trial-barrier-grid__option--option3 {
			@include oGridRespondTo(S) {
				border-right: 1px solid oColorsGetPaletteColor('warm-2');
			}
		}

		&.brexit-trial-barrier-grid__option--option1,
		&.brexit-trial-barrier-grid__option--option2,
		&.brexit-trial-barrier-grid__option--option3 {
			@include oGridRespondTo(L) {
				border-right: 1px solid oColorsGetPaletteColor('warm-2');
			}
		}

	}

	.brexit-trial-barrier-grid__learn-more {
		@include oTypographySansBold(s);

		a {
			text-decoration: none;
			color: oColorsGetPaletteColor(link-1);
		}
	}

	.brexit-trial-barrier-grid__option-title {
		position: relative;
	}

	.brexit-trial-barrier-grid__option-subtitle {
		position: absolute;
		left: 0;
		right: 0;
		top: 14px;
		display: block;
		text-transform: uppercase;
		color: #A02D4F;
		text-align: center;
	}

	.brexit-trial-barrier-grid__option--option3 {
		background-color: #F5F5F5;

		.brexit-trial-barrier-grid__option-inner {
			background-color: #F5F5F5;
		}
	}
}

.brexit-trial-barrier-grid--missing-newspaper {

	.brexit-trial-barrier-grid__option {
		@include oGridColspan((default: full-width, M: one-third));

		&.brexit-trial-barrier-grid__option--option2,
		&.brexit-trial-barrier-grid__option--option3 {
			@include oGridRespondTo(M) {
				border-right: 1px solid oColorsGetPaletteColor('warm-2');
			}
		}

		&.brexit-trial-barrier-grid__option--option4 {
			border-right: 0;
		}
	}

	.brexit-trial-barrier-grid__price {
		margin-right: 4px;
		@include oGridRespondTo(M) {
			display: block;
			margin-right: 0;
			margin-bottom: 10px;
		}
	}
}

/*****************************************
* Other options
*****************************************/

.brexit-trial-barrier-grid__other-options {
	padding-top: 10px;
	background-color: oColorsGetPaletteColor('white');
}

.brexit-trial-barrier-grid__other-options h3 {
	@include oTypographySansBold(s);
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid oColorsGetPaletteColor('warm-2');
}

.brexit-trial-barrier-grid__other-option {
	@include oGridColspan((default: one-third));

	.brexit-trial-barrier-grid__other-option-inner {
		text-align: center;
		padding-bottom: 18px;
		padding-top: 18px;
	}

	a {
		@include oTypographySansBold(s);
		border: 0;
		overflow: hidden;

		.brexit-trial-barrier-grid__option-options-text {
			display: block;
		}

		&:before {
			content: '';
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.brexit-trial-barrier-grid__other-option--corporate a {
	&:before {
		@include oIconsGetIcon('section-business-life', oColorsGetPaletteColor(link-1), 35);
	}
}

.brexit-trial-barrier-grid__other-option--newspaper a {
	&:before {
		@include oIconsGetIcon('newspaper', oColorsGetPaletteColor(link-1), 35);
	}
}

.brexit-trial-barrier-grid__other-option--weekend a {
	&:before {
		@include oIconsGetIcon('ipad-portrait', oColorsGetPaletteColor(link-1), 35);
	}
}
