@mixin corporateProspectTrialHeading() {
		padding: 0 10%;

		@include oGridRespondTo(M) {
			padding: 0 44px;
		}

		@include oGridRespondTo(L) {
			padding: 0 80px;
		}
}

.corporate-prospect__subtitle {
	@include oTypographySans($scale: 3);
	@include corporateProspectTrialHeading();

	margin-top: 25px;

	&::after {
		background: getColor('teal-40');
		content: '';
		display: block;
		height: 5px;
		margin: 24px auto 24px;
		width: 60px;
		@include oGridRespondTo(M) {
			margin-left: 0;
		}
	}
}


.barrier-grid__company-title {
	@include corporateProspectTrialHeading();
	@include oTypographySerif($scale: 3);
	display: block;
	font-weight: normal;
	text-align: left;
}

.corporate-prospect__lead {
	@include oTypographySansBold($scale: 1);
}

.corporate-prospect-trial {

	position: relative;
	margin: {
		top: 20px;
		bottom: 60px;
	}

	background: getColor('white');

	h1 {
		@include corporateProspectTrialHeading();
		@include oTypographySans($scale: 1);
		font-weight: normal;
		text-align: left;
	}

	h2 {
		margin: 36px 0;
		text-align: center;

		@include oGridRespondTo(M) {
			text-align: left;
			width: 100%;
		}
	}

	h3 {
		@include oTypographySansBold($scale: 1);
		padding-top: 0;
		width: 100%;
		margin: 10px 0 -10px;
		text-align: left;

	}

	p {
		@include oTypographySans($scale: 0);
		width: 100%;
		margin: 10px 0;
		padding: 0;
	}

	ul {
		@include oTypographySans($scale: 1);
		padding-left: 0;
		list-style: none;

		@include oGridRespondTo(L) {
			padding-left: 20px;
		}
	}

	li {
		@include oTypographySans($scale: 1);
		position: relative;
		margin-left: 20px;
		@include oGridRespondTo(L) {
			margin: 16px 0;
		}
		&::before {
			@include oIconsGetIcon('tick', getColor('jade'), 24);
			content: '';
			margin-right: 4px;
			position: absolute;
			top: -1px;
			left: -24px;
		}
	}

	iframe {
		min-height: 1000px;
		display: block;
		border: 0;
	}

}

.corporate-prospect-trial__header {
	background: getColor('teal-40');
	color: getColor('white');
	padding: 25px 0;
	text-align: left;
}

.corporate-prospect-trial__form {

	background-color: getColor('white');

	padding: 24px 10% 36px;

	@include oGridRespondTo(M) {
		padding: 0 24px 60px 0;
	}

	@include oGridRespondTo(L) {
		padding: 0 60px 60px 0;
	}

	& > div {
		background-color: getColor('white-60');
		@include oGridRespondTo(M) {
			min-height: 800px;
		}
		@include oGridRespondTo(L) {
			min-height: 990px;
		}
		@include oGridRespondTo(XL) {
			min-height: 910px;
		}
	}
}

.corporate-prospect-trial__contact {

	background-color: getColor('wheat');
	margin-top: 45px;
	padding: 10px 28px 28px;

	span {
		@include oTypographySansBold($scale: 0);
		padding-right: 5px;
	}

}

.corporate-prospect-trial__contact.corporate-prospect-trial__contact--p1 {
	display: none;
	@include oGridRespondTo(M) {
		display: block;
	}
}

.corporate-prospect-trial__contact.corporate-prospect-trial__contact--p2 {
	margin: 0% 10% 5%;
	@include oGridRespondTo(M) {
		display: none;
	}
}

.corporate-prospect-trial__description {

	background-color: getColor('white');

	padding: 0 10%;

	@include oGridRespondTo(M) {
		padding: 0 24px;
	}

	@include oGridRespondTo(L) {
		padding: 0 60px;
	}

	img {
		display: none;
		margin: 0 auto 30px;

		@include oGridRespondTo(L) {
			display: block;
			text-align: left;
		}
	}

	p {
		@include oTypographySans($scale: 1);
		text-align: center;
		@include oGridRespondTo(M) {
			text-align: left;
		}
	}

}

.corporate-prospect__list__title {
	@include oTypographySans($scale: 1);
	color: getColor('black-80');
	margin: 12px 0;
	font-weight: normal;
}
