.trial-barrier-grid--redesign {

	.trial-barrier-grid__team {
		@include oGridColspan((default: full-width, S: one-half, L: one-quarter));
			width: 100%;
			min-width: 100%;
			display: block;
			clear:both;
		@include oGridRespondTo(S) {
			width:100%;
			min-width: 100%;
			display:block;
			clear: both;
		}
		@include oGridRespondTo(L) {
			width: 18.75%;
			min-width: 18.75%;
			float: right;
			margin-right:10px;
			display: inline-block;
			clear:none;
		}
	}

	.trial-barrier-grid__options-team {
		@include oGridColspan((default: full-width, S: one-half, L: one-quarter));
			min-width:100%;
			width: 100%;
			max-width:100%;
			display:flex;
		@include oGridRespondTo(S) {
			width: 100%;
			max-width: 100%;
			min-width: 100%;
			display: flex;
		}
		@include oGridRespondTo(L) {
			width: 76%;
			max-width: 76%;
			min-width: 76%;
			display: flex;
		}
	}
	.trial-barrier-grid__options-no-team {
		width: 100%;
	}

	.trial-barrier-grid__header--redesign {
		margin-bottom: 20px;
		letter-spacing: 0.2px;
	
		.trial-barrier-grid__pretext--redesign {
			padding-left: 10px;
			@include oGridRespondTo(L) {
				display: inline-block;	
			}
		}

		.trial-barrier-grid__sign-in--redesign {
			@include oGridColspan((default: full-width, L: one-quarter));
			font-size: 17px;
			padding-left:0px;
			font-weight:normal;
			background-color: #d3d3d3;

			a {
				font-weight: bold;
				white-space: nowrap;
				margin-left: 5px;
				border-bottom: 1px solid #27757b
			}
			@include oGridRespondTo(L) {
				background-color: #f6e9d8;
			}
		}

		.barrier-grid__heading--redesign {
			color: #505050;
			font-size: 17px;
			padding: 0px;
			margin-bottom:10px;
			
			.barrier-grid__article-title--redesign {
				display: inline-block;
				padding-left: 10px;
			}

			.barrier-grid__heading-pretext--redesign {
				display: inline-block;
				padding-top:10px;
				font-weight: bold;
				font-size:17px;
				padding-left: 10px;
			}
		}
	}

	.section-meta:before {
		content: '';
		top:50%;
		height: 9px;
		width:98%;
		display: block;
		position: absolute;
		margin-top: -9px;
		background: url(https://next-geebee.ft.com/image/v1/images/raw/http%3a%2f%2fnext-geebee.ft.com%2fassets%2fbackgrounds%2ffront-page-section-header-v2.svg?source=next&format=svg&tint=000000,000000) repeat transparent;
	}

	.section-meta {
		background-color: white;
		margin-bottom: 2px;

		.section-meta__title {
			background-color: white;
			display: inline-block;
			font-weight: normal;
			height: 35px;
			padding: 5px 8px 0px 10px;
			position:relative;
		}
	}

	.section__column--redesign {
		padding-left: 0px;
		height:50px;
		margin-bottom: -5px;
	}

	.trial-barrier-grid__options--redesign {
		margin-bottom: 20px;
	}


	.trial-barrier-grid__option--redesign {
		@include oGridColspan((default: full-width, S: one-half, L: one-quarter));
		background: white;
		color: black;
		border-bottom: 1px solid oColorsGetPaletteColor('warm-2');

		&.trial-barrier-grid__option--option0,
		&.trial-barrier-grid__option--option2 {
			@include oGridRespondTo(S) {
				border-right: 2px solid #f6e9d8;
			}
		}

		&.trial-barrier-grid__option--option0,
		&.trial-barrier-grid__option--option1,
		&.trial-barrier-grid__option--option {
			@include oGridRespondTo(L) {
				border-right: 2px solid #f6e9d8;
			}
		}

		&.trial-barrier-grid__option--team {
			min-width: 100%;
		}

		.trial-barrier-grid__option-inner--redesign {
			padding-top:25px;
			h3 {
				margin-bottom: 7px;
				height:36px;
				
				a {
					border-bottom: none;
					font-size: 20px;
					letter-spacing: 0.2px;
				}	
			}

			.trial-barrier-grid__image--redesign {
				padding: 30px;
				padding-top:10px;
				margin-bottom: -15px;
			}

			.trial-barrier-grid__primary--redesign {
				margin-top: -10px;
				margin-bottom: 30px;
				color: #505050;
			
				.trial-barrier-grid__price--redesign {
					font-size: 17px;
					display: block;
					margin-bottom: 15px;
					letter-spacing: 0.2px;
				}
				
				.trial-barrier-grid__select--redesign {
					background-color: white;
					color:  #27757b;
				}	
			}

			.trial-barrier-grid__channel {
				background-color: #f6e9d8;
				height:2px;
			}

			.trial-barrier-grid__secondary {
				padding-top:5px;
				color: #505050;
			
				li {
					margin-top:10px;
				}

				h4 {
					margin-top:10px;
				}
			}

		}
	}

	.trial-barrier-grid__other-options--redesign {
		padding-top:0px;
		margin-top:20px;
	}

	.trial-barrier-grid__other-option {
		border-right: 2px solid #f6e9d8;
		height: 100%;
		a:before {
			display:none;
		}

		.trial-barrier-grid__other-option-inner--redesign {
			padding-top:25px;
			h3 {
				margin-bottom: 7px;
				height:40px;	
				a {
					border-bottom: none;
					font-size: 20px;
					letter-spacing: 0.2px;
				}	
			}
		}

		.trial-barrier-grid__other-option-select--redesign {
			background-color: white;
			color:  #27757b;
		}	
	}
	.trial-barrier-grid__other-options--redesign {
		h3 {
			border-bottom: none;
			text-transform: uppercase;
		}
	}

	.trial-barrier-grid__terms {
		margin-top:15px;
		color:#505050;
	}
}
