.corp-trial__header {
	margin: 24px 0 20px 20px;
	min-width: 98%;
	background-color: getColor('teal');
	color: getColor('white');
	padding: 24px 0;

	.corp-trial__heading-container {
		padding-left: 0;
	}

	h1 {
		@include oTypographySans($scale: 1);
		font-weight: normal;
		margin: 0 0 12px;
	}

	.corp-trial__article-title {
		@include oTypographySerif($scale: 4);

		@include oGridRespondTo(M) {
			@include oTypographySerif($scale: 5);
			margin-bottom: 36px;
		}
	}
}

.corp-trial__join-outer {
	margin-top: 12px;
	padding-bottom: 48px;

	.corp-trial__join-text {
		@include oTypographySans($scale: 4);
		margin-bottom: 12px;
		text-align: center;

		@include oGridRespondTo(M) {
			margin-bottom: 36px;
		}

	}

	.corp-trial__join--bold {
		@include oTypographySansBold($scale: 4);
	}

	.corp-trial__img {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		margin-bottom: 12px;

		@include oGridRespondTo(M) {
			padding: 0 24px 0 0;
		}
	}

	img {
		width: 100%;

		@include oGridRespondTo($from: S, $until: M) {
			width: 60%;
		}

	}
}

.corp-trial__benefits {
	@include oTypographySans($scale: 2);
	text-align: center;

	@include oGridRespondTo(M) {
		text-align: left;
	}

	ul {
		@include oTypographySans($scale: 0);
		margin-top: 8px;
		list-style: none;
		padding-left: 0;

		@include oGridRespondTo(M) {
			padding-left: 17px;
			list-style: initial;
		}

	}

	li {
		padding: 6px;
	}

	a {
		@include oButtonsTheme(primary);
		@include oButtonsSize(big);
		@include oTypographySansBold($scale: 0);
		display: block;
		width: 100%;
		max-height: 40px;
		min-height: 24px;
		padding: 8px 0;
		text-align: center;
	}
}

.corp-trial__triptych-outer {
	@include oTypographySans($scale: 2);
	border-top: 1px solid getColor('wheat');
	border-bottom: 1px solid getColor('wheat');
	text-align: center;

	@include oGridRespondTo(M) {
		padding: 24px;
	}

	.corp-trial__triptych-inner {
		padding: 12px;

		@include oGridRespondTo(M) {
			padding: 36px;
		}
	}

	img {
		width: 100px;
	}

	.corp-trial__triptych-title {
		@include oTypographySansBold($scale: 2);
	}
}

.corp-trial__organisations {
	@include oTypographySans($scale: 2);
	text-align: center;
	padding: 24px;
}

.corp-trial__organisations-icon-row {
	justify-content: space-around;
}

.corp-trial__organisations-icon {
	flex: 25%;
	text-align: center;
}

.corp-trial__enquire {
	@include oTypographySans($scale: 3);
	padding: 36px 0 12px;
	text-align: center;

	@include oGridRespondTo(L) {
		padding: 24px 74px 12px;
	}

	.corp-trial__enquire-text {
		@include oTypographySans($scale: 2);

		@include oGridRespondTo(M) {
			@include oTypographySans($scale: 3);
			padding: 0;
		}
	}

	span {
		display: block;
	}

}

.corp-trial__enquire-button {
	text-align: center;
	margin-top: 12px;
	margin-bottom: 36px;

	@include oGridRespondTo(M) {
		padding: 0 60px;
	}

	a {
		@include oButtons($size: big, $theme: secondary);
		width: 100%;
		max-width: 450px;
	}

}

.corp-trial__contact {
	@include oTypographySans($scale: 2);
	background-color: getColor('wheat');
	padding: 12px;
	margin-bottom: -40px;
	text-align: center;

	@include oGridRespondTo(M) {
		padding: 36px;
	}
}

.corp-trial__contact-phone {
	text-align: center;
	display: flex;
	flex-wrap: nowrap;

	div {
		display: inline-block;
		flex-grow: 1;
		padding: 12px;

		@include oGridRespondTo($until: M) {
			padding: 4px;
			@include oTypographySans($scale: 1);
		}
	}

	span {
		@include oTypographySansBold($scale: 2);
	}
}
