.amo-b2b__list {
	list-style: none;
	margin-top: 0;
	padding: 0;
}

.amo-b2b__list__item::before {
	content: '';
	background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1%3Atick?source=next-product&tint=%2300B359');
	width: 24px;
	height: 24px;
	display: inline-block;
	margin: 0 5px -7px 0;
}

.individual-b2b-prospect__title-amo {
	margin-bottom: 0;
	@include oGridRespondTo($from: L) {
		margin-left: 20px;
	}

	// tweak style for fastFT barrier, which doesn't respond to breakpoints as expected
	.card-openable__article & {
		@include oGridRespondTo($from: M) {
			padding-left: 30px;
		}
	}
}

.individual-b2b-prospect__list__title-amo {
	@include oTypographySansBold($scale: 0);
	color: getColor('black-80');
	margin-bottom: 12px;
}

.individual-b2b-prospect__lead-amo {
	margin-top: 16px;
}

.amo-b2b__list__item {
	margin-bottom: 12px;
}

.amo-b2b__list__item-first {
	margin-top: 4px;
}

.amo-b2b__list__item-last {
	margin-bottom: 0;
}

.barrier-grid__section-logo-column {
	text-align: right;
}
.barrier-grid__section-logo {
	height: 70px;
	max-resolution: 20px;
	display: block;
	margin: 25px auto 0;
}

.individual-b2b-prospect__button-container__content-amo {
	margin-right: 20px;
}

.b2b-amo__button {
	@include oButtons();
	@include oButtonsSize(big);
	@include oButtonsTheme(standard);
	background-color: getColor('white');
	color: getColor('teal');
	border: getColor('white');
	@include oGridRespondTo(M) {
		align-self: center;
		flex-shrink: 0;
	}
	&:focus,
	&:hover {
		color: getColor('white');
		border: getColor('white');
	}
}

.amo-b2b__sign-in {
	color: getColor('white');
	text-decoration: underline;
	&:focus,
	&:hover {
		color: getColor('white');
	}
}

.amo-b2b__footer__help {
	margin: 16px 0;
}
