.amo-b2b__list {
	padding: 0;
	margin-top: 0;
	list-style: none;
}

.amo-b2b__list__item::before {
	content: '';
	background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1%3Atick?source=next-product&tint=%2300B359');
	width: 24px;
	height: 24px;
	display: inline-block;
	margin: 0 5px -7px 0;
}

.individual-b2b-prospect__title-amo {
	margin-bottom: 0;
	@include oGridRespondTo(L, XL) {
		margin-left: 20px;
	}
}

.individual-b2b-prospect__list__title-amo {
	@include oTypographySansBold(m);
	color: oColorsGetPaletteColor('grey-tint5');
	margin-bottom: 12px;
}

.individual-b2b-prospect__lead-amo {
	margin-top: 16px;
}

.amo-b2b__list__item {
	margin-bottom: 12px;
}

.amo-b2b__list__item-first {
	margin-top: 4px;
}

.amo-b2b__list__item-last {
	margin-bottom: 0;
}

.barrier-grid__section-logo-column {
	text-align: right;
}
.barrier-grid__section-logo {
	height: 70px;
	max-resolution: 20px;
	display: block;
	margin: 25px auto 0;
}

.individual-b2b-prospect__button-container__content-amo {
	margin-right: 20px;
}

.b2b-amo__button {
	@include oGridRespondTo(M) {
		align-self: center;
		flex-shrink: 0;
	}
	@include oButtons();
	@include oButtonsSize(big);
	@include oButtonsTheme(standard);
	background-color: oColorsGetPaletteColor('white');
	color: oColorsGetPaletteColor('teal');
	border: oColorsGetPaletteColor('white');
	&:focus, &:hover {
		color: oColorsGetPaletteColor('white');
		border: oColorsGetPaletteColor('white');
	}
}

.amo-b2b__sign-in {
	color: oColorsGetPaletteColor('white');
	text-decoration: underline;
	&:focus, &:hover {
		color: oColorsGetPaletteColor('white');
	}
}

.amo-b2b__footer__help {
	margin: 16px 0 16px 0;
}
