.corporate-special {

	h2 {
		padding: 10px 10px;
		@include oGridRespondTo(L) {
			line-height: 50px;	
		}
	}

	.corporate-special__section {
		padding: 18px 25px;
		background-color: #ffffff;
		border-bottom: 1px solid #f6e9d8;

		p {
			margin-bottom: 20px;
			width: 100%;
		}

		h4 {
			width: 100%;
			margin: 0 0 20px 0;
			text-align: center;
		}

		.trial-barrier-grid__select {
			margin: 0 auto 20px auto;
			background-color: #d66d06;
			border-color: #d66d06;
		
			&:not([disabled]):hover {	
				background-color: #666;
				border-color: #666;
			}
		}
	}
}
