.barrier-grid__custom-message {

	.barrier-grid__cta-text {
		margin-bottom: 0px;
	}

	//Overides for custom HTML which is input via SalesForce
	//Horrible hack allowed
	ul {
		list-style: none;
		margin: 0;
		padding: 5px 0;
	}
}
