.trial-barrier-grid--redesign {

	.trial-barrier-grid__header--redesign {
		margin-bottom: 20px;
		letter-spacing: 0.2px;
	
		.trial-barrier-grid__pretext--redesign {
			padding-left: 10px;
			@include oGridRespondTo(L) {
				display: inline-block;	
			}
		}

		.trial-barrier-grid__sign-in--redesign {
			@include oGridColspan((default: full-width, L: one-quarter));
			font-size: 17px;
			padding-left:0px;
			font-weight:normal;
			background-color: oColorsGetPaletteColor('pink-tint2');

			a {
				font-weight: bold;
				white-space: nowrap;
				margin-left: 5px;
				border-bottom: 1px solid oColorGetPaletteColor('teal-1');
			}
			@include oGridRespondTo(L) {
				background-color: oColorsGetPaletteColor('warm-2');
			}
		}

		.barrier-grid__heading--redesign {
			color: oColorsGetPaletteColor('cold-1');
			font-size: 17px;
			padding: 0px;
			margin-bottom:10px;
			
			.barrier-grid__article-title--redesign {
				display: inline-block;
				padding-left: 10px;
			}

			.barrier-grid__heading-pretext--redesign {
				display: inline-block;
				padding-top:10px;
				font-weight: bold;
				font-size:17px;
				padding-left: 10px;
			}
		}
	}

	.trial-barrier-grid__offer-container {
		margin-bottom:20px;
		@include oGridColspan((default: full-width, S: one-half, L: one-quarter));
		display: block;
		min-width: 100%;
		@include oGridRespondTo(S) {
			display:block;
			min-width: 100%;
		}
		@include oGridRespondTo(L) {
			display:flex;
			min-width: 100%;
		}	
	}


	.trial-barrier-grid__options-team {
		@include oGridColspan((default: full-width, S: one-half, L: one-quarter));
			min-width:100%;
			width: 100%;
			max-width:100%;
			display:flex;
		@include oGridRespondTo(S) {
			width: 100%;
			max-width: 100%;
			min-width: 100%;
			display: flex;
		}
		@include oGridRespondTo(L) {
			width: 78.5%;
			max-width: 78.5%;
			min-width: 78.5%;
			display: flex;
		}
	}
	.trial-barrier-grid__options-no-team {
		width: 100%;
	}

	.trial-barrier-grid__team {
		@include oGridColspan((default: full-width, S: one-half, L: one-quarter));
		margin-top:20px;
		width: 100%;
		background-color: white;
		min-width: 100%;
		display: block;
		clear:both;
		margin-left:0px;
		@include oGridRespondTo(S) {
			width:100%;
			margin-top:20px;
			min-width: 100%;
			display:block;
			clear: both;
			margin-left:0px;
		}
		@include oGridRespondTo(L) {
			margin-top: 0px;
			width: 19.75%;
			min-width: 19.75%;
			max-width: 19.75%;
			float: right;
			margin-left:20px;
			margin-right:10px;
			display: inline-block;
			clear:none;
			border-bottom: 1px solid oColorsGetPaletteColor('warm-2');
			border-right: none;
		}
	}

	.section-meta:before {
		content: '';
		top:50%;
		height: 9px;
		width:98%;
		display: block;
		position: absolute;
		margin-top: -9px;
		background: url(https://next-geebee.ft.com/image/v1/images/raw/http%3a%2f%2fnext-geebee.ft.com%2fassets%2fbackgrounds%2ffront-page-section-header-v2.svg?source=next&format=svg&tint=000000,000000) repeat transparent;
	}

	.section-meta {
		background-color: white;
		margin-bottom: 2px;

		.section-meta__title {
			background-color: white;
			display: inline-block;
			font-weight: normal;
			height: 35px;
			padding: 5px 8px 0px 10px;
			position:relative;
		}
	}
	
	.section-meta--team {
		border-bottom:5px solid oColorsGetPaletteColor('pink');
	}


	.trial-barrier-grid__option--redesign {
		@include oGridColspan((default: full-width, S: one-half, L: one-quarter));
		color: black;
		border-right: none;
		border-bottom: 1px solid oColorsGetPaletteColor('warm-2');

		&.trial-barrier-grid__option--option0,
		&.trial-barrier-grid__option--option2 {
			@include oGridRespondTo(S) {
				border-right: 1px solid oColorsGetPaletteColor('warm-2');
			}
		}

		&.trial-barrier-grid__option--option0,
		&.trial-barrier-grid__option--option1,
		&.trial-barrier-grid__option--option {
			@include oGridRespondTo(L) {
				border-right: 1px solid oColorsGetPaletteColor('warm-2');
			}
		}

		&.trial-barrier-grid__option--team {
			min-width: 100%;
			@include oGridRespondTo(S) {
				.trial-barrier-grid__option-inner {
					padding-bottom: 0px;
					display: flex;
					padding-top:0px;
					.trial-barrier-grid__top-section {
						padding-top: 20px;
						width:50%;
						border-right: 1px solid oColorsGetPaletteColor('warm-2');
						display:inline-block;
					}
					.trial-barrier-grid__secondary {
						width: 48.5%;
						max-width:48.5%;
						min-width: 48.5%;
						display: inline-block;
						vertical-align: top;
						padding:0px;
						padding-top:10px;
						ul, h4 {
							padding-left:25px;
							padding-right:25px;
						}
					}
					.trial-barrier-grid__channel {
						display:none;
					}
				}
			}
			@include oGridRespondTo(L) {
				border-bottom: none;
				.trial-barrier-grid__option-inner {
					display:block;
					padding-top: 25px;
					.trial-barrier-grid__top-section {
						padding-top:0px;
						width:100%;
						border-right:none;
						display:block;
					}
					.trial-barrier-grid__channel {
						height: 2px;
						background-color: oColorsGetPaletteColor('warm-2');
						display:block;
					}
					.trial-barrier-grid__secondary {
						width:70%;
						max-width:70%;
						min-width:70%;
						display:block;
						margin:auto;
						padding:0px;
						padding-top:5px;
						ul, h4 {
							padding-left:0px;
							padding-right:0px;
						}
					}
				}
			}
		}


		.trial-barrier-grid__option-inner--redesign {
			padding-top:25px;
			h3 {
				margin-bottom: 7px;
				height:36px;
				
				a {
					border-bottom: none;
					font-size: 18px;
					letter-spacing: 0.2px;
				}	
			}

			.trial-barrier-grid__image--redesign {
				padding: 10px 10px 30px 10px;
				margin-bottom: -15px;
				@include oGridRespondTo(S) {
					&.trial-barrier-grid__image-team {
						margin:auto;
						width:50%;
					}
				}
			}

			.trial-barrier-grid__primary--redesign {
				margin-top: -10px;
				margin-bottom: 30px;
				color: oColorsGetPaletteColor('cold-1');;
			
				.trial-barrier-grid__price--redesign,
			        .trial-barrier-grid__price--redesignstandout {
					font-size: 17px;
					display: block;
					margin-bottom: 15px;
					letter-spacing: 0.2px;
				
					.trial-barrier-grid__price-link {
						border: none;
						border-bottom: 1px solid oColorsGetPaletteColor('teal-1');
					}
				}
				
				.trial-barrier-grid__select--redesign {
					background-color: white;
					color: oColorsGetPaletteColor('teal-1');
				}	
			}

			.trial-barrier-grid__channel {
				background-color: oColorsGetPaletteColor('warm-2');
				height:2px;
			}

			.trial-barrier-grid__secondary {
				padding-top:5px;
				padding-left: 25px;
				padding-right:25px;
				color: oColorsGetPaletteColor('cold-1');;
			
				li, h4 {
					margin-top:10px;
				}
			}

		}
	}

	.trial-barrier-grid__option-discount {
		.trial-barrier-grid__option-inner {
			.trial-barrier-grid__image a img {
				width: 84.5%;
			}
		}
	}

	.section__column--redesign {
		padding-left: 0px;
		height:50px;
		margin-bottom: -5px;
	}


	.trial-barrier-grid__other-options--redesign {
		padding-top:0px;
		margin-top:20px;
		h3 {
			border-bottom: none;
			text-transform: uppercase;
		}
	}


	.trial-barrier-grid__other-option {
		@include oGridColspan((default: full-width, S: one-half, L: one-quarter));
		border-right: none;
		height: 33.3%;
		width: 100%;
		border-bottom: none;
		min-width: 100%;
		&.trial-barrier-grid__other-option--0,
		&.trial-barrier-grid__other-option--1 {
			border-bottom: 2px solid oColorsGetPaletteColor('warm-2');
		}
		@include oGridRespondTo(S) {
			height: 100%;
			width:33.3%;
			min-width: 33.3%;
			&.trial-barrier-grid__other-option--2 {
				border-right: 0;
			border-bottom: none;
			}
			&.trial-barrier-grid__other-option--0,
			&.trial-barrier-grid__other-option--1 {
				border-right: 2px solid oColorsGetPaletteColor('warm-2');
			border-bottom: none;
			}
		}
		@include oGridRespondTo(L) {
			height:100%;
			width: 33.3%;
			min-width: 33.3%;
			&.trial-barrier-grid__other-option--2 {
				border-right: 0;
				border-bottom: none;
			}
			&.trial-barrier-grid__other-option--0,
			&.trial-barrier-grid__other-option--1 {
				border-right: 2px solid oColorsGetPaletteColor('warm-2');
				border-bottom: none;
			}
		}
		a:before {
			display:none;
		}


		.trial-barrier-grid__other-option-inner--redesign {
			padding-top:25px;
			h3 {
				margin-bottom: 7px;
				height:40px;	
				a {
					border-bottom: none;
					font-size: 18px;
					letter-spacing: 0.2px;
				}	
			}
		}

		.trial-barrier-grid__other-option-select--redesign {
			background-color: white;
			color:  oColorsGetPaletteColor('teal-1');;
		}	
	}
	
	.trial-barrier-grid__terms {
		margin-top:15px;
		color: oColorsGetPaletteColor('cold-1');
	}
}
