.individual-b2b__container {
	margin-top: 15px;
	margin-bottom: 45px;
}

.individual-b2b__header {
	background: getColor('teal-40');
	color: getColor('white');
	padding: 25px 0;
	.individual-b2b__heading {
		@include oTypographySerif($scale: 3);
		margin-top: 0;
		padding: 0 20px;
	}
	.individual-b2b__heading-pretext {
		@include oTypographySans($scale: 2);
		font-weight: normal;
	}
	.individual-b2b__article-title {
		@include oTypographySerif($scale: 3);
		&::before {
			content: '“';
		}
		&::after {
			content: '”';
		}
	}
}

.individual-b2b__content {
	color: getColor('black-80');
}

.individual-b2b__button {
	@include oButtons($size: big, $theme: primary);
	width: 80%;
	margin: 0 auto 20px;
}

.individual-b2b__options__container {
	margin-left: -20px;
}

.individual-b2b__options {
	.individual-b2b__option {
		margin: 10px 0 10px 10px;
		@include oGridRespondTo(M) {
			margin: 0;
		}
	}
}

.individual-b2b__option-inner {
	text-align: center;
	padding: 20px;
	@include oGridRespondTo(S) {
		min-height: 110px;
	}
	@include oGridRespondTo(M) {
		min-height: 227px;
	}
	@include oGridRespondTo(L) {
		min-height: 208px;
	}
}

.individual-b2b__option-title {
	@include oTypographySansBold($scale: 2);
	margin: 8px 0 0;
}

.individual-b2b__option-content {
	@include oTypographySans($scale: 1);
	display: block;
	max-width: 80%;
	margin: 0 auto auto;
}

.individual-b2b__option-list {
	margin-top: 8px;
}

.individual-b2b__option--b2b {
	.individual-b2b__option-title {
		&::before {
			content: '';
			@include oIconsGetIcon('users', oColorsGetPaletteColor('black'), 40);
			vertical-align: middle;
			margin-top: -6px;
		}
	}
	.individual-b2b__option-content {
		text-align: left;
	}
}

.individual-b2b__option-inner {
	background: getColor('white');
	flex-direction: column;
	display: flex;
}

.individual-b2b__option--b2c {
	.individual-b2b__option-title {
		&::before {
			content: '';
			@include oIconsGetIcon('user', oColorsGetPaletteColor('black'), 40);
			vertical-align: middle;
			margin-top: -6px;
		}
	}
	.individual-b2b__option-content {
		vertical-align: middle;
	}
}

.individual-b2b__title {
	@include oTypographySansBold($scale: 4);
	margin-bottom: 0;
}

.individual-b2b__lead {
	padding: 10px 0 0;
	p {
		@include oTypographySans($scale: 4);
		margin-top: 0;
		@include oGridRespondTo(L) {
			padding: 4px 0 40px;
		}
	}
	.individual-b2b__packshot--desktop {
		display: none;
		@include oGridRespondTo(M) {
			margin-top: 32px;
			margin-right: 20px;
			float: right;
			display: inline-block;
			padding-left: 40px;
		}
	}
	.individual-b2b__packshot--mobile {
		float: right;
		margin: 0 20px 12px 0;
		@include oGridRespondTo(M) {
			display: none;
		}
	}
}