.individual-b2b-prospect {
	margin-top: 15px;
	text-align: center;
	@include oGridRespondTo(M) {
		text-align: left;
	}
}

.individual-b2b-prospect__sign-in {
	@include oTypographySansBold($scale: -1);
	text-align: right;
}

.individual-b2b-prospect__container {
	background: getColor('white');
	margin-bottom: 45px;
}

.individual-b2b-prospect__header {
	background: getColor('teal-40');
	color: getColor('white');
	padding: 25px 0;

	.barrier-grid__heading {
		font-weight: normal;
		margin-top: 0;
		margin-right: 25px;
		padding-left: 0;
	}

	.barrier-grid__article-title {
		@include oTypographySerif($scale: 3);

		&::before {
			content: '“';
		}

		&::after {
			content: '”';
		}
	}

	.individual-b2b-prospect__button {
		@include oButtonsTheme(inverse);
	}
}

.individual-b2b-prospect__content {
	padding-bottom: 20px;
}

.individual-b2b-prospect__title {
	@include oTypographySansBold($scale: 3);
}

.individual-b2b-prospect__subtitle {
	@include oTypographySans($scale: 3);

	&::before {
		background: getColor('teal-40');
		content: '';
		display: block;
		height: 5px;
		margin: 0 auto 20px;
		width: 200px;
		@include oGridRespondTo(M) {
			margin-left: 0;
		}
	}
}

.individual-b2b-prospect__lead {
	@include oTypographySans($scale: 0);
}

.individual-b2b-prospect__quote-list-container {
	margin-bottom: 30px;
	@include oGridRespondTo(L) {
		align-items: flex-start;
		display: flex;
	}
}

.individual-b2b-prospect__quote__container {
	//TODO: migrate to o-quote in next-product
	background: $greyF1;
	overflow: hidden;
	@include oGridRespondTo(L) {
		flex-shrink: 0;
		margin-left: 25px;
		width: 375px;
	}
}

.individual-b2b-prospect__quote {
	margin-left: 30px;
	margin-right: 30px;

	&::before {
		background: getColor('teal-40');
		content: '';
		display: block;
		height: 3px;
		margin: 30px auto;
		width: 95px;
		@include oGridRespondTo(M) {
			margin: 30px 0;
		}
	}
}

.individual-b2b-prospect__quote__text {
	@include oTypographySerif($scale: 0);
	color: getColor('black-70');
}

.individual-b2b-prospect__quote__footer {
	text-align: center;
	@include oGridRespondTo(M) {
		text-align: right;
	}
}

.individual-b2b-prospect__quote__company {
	@include oTypographySansBold($scale: 0);
}

.individual-b2b-prospect__list {
	color: getColor('black-70');
	flex: 1;
	list-style: none;
	padding: 0;
	margin-top: 0;

	.individual-b2b-prospect__list__item {
		margin-bottom: 25px;
	}
}

.individual-b2b-prospect__list__title {
	@include oTypographySansBold($scale: 0);
	color: getColor('black-80');
	margin-bottom: 15px;
}

.individual-b2b-prospect__content__footer {
	background: getColor('teal-40');
	color: getColor('white');
	margin-top: 10px;
	padding: 30px;

	.individual-b2b-prospect__content__footer__subtitle,
	.individual-b2b-prospect__content__footer__title {
		margin: 0;
	}

	.individual-b2b-prospect__content__footer__title {
		margin-bottom: 5px;
		margin-right: 20px;
	}

	.individual-b2b-prospect__content__footer__subtitle {
		@include oTypographySans($scale: -1);
	}

	.individual-b2b-prospect__button {
		@include oButtonsTheme(inverse);
	}
}

.individual-b2b-prospect__footer__subtitle {
	color: getColor('black-70');
	display: inline-block;
}

.individual-b2b-prospect__button-container {
	text-align: center;
	@include oGridRespondTo(M) {
		display: flex;
		flex-direction: row;
		align-items: center;
		text-align: left;
	}
}

.individual-b2b-prospect__button-container__content {
	margin-bottom: 10px;
	@include oGridRespondTo(M) {
		flex: 1;
		margin-bottom: 0;
	}
	> strong {
		margin-right: 5px;
	}
}

.individual-b2b-prospect__button {
	@include oButtons();
	@include oButtonsSize(big);
	@include oGridRespondTo(M) {
		align-self: center;
		flex-shrink: 0;
	}
}

.individual-b2b-prospect__footer {
	background: getColor('white');
	padding: 30px;
}
