.individual-b2b-prospect {
	margin-top: 15px;
}

.individual-b2b-prospect__container {
	background: oColorsGetPaletteColor('white');
	margin-bottom: 45px;
}

.individual-b2b-prospect__header {
	background: oColorsGetPaletteColor('teal-1');
	color: oColorsGetPaletteColor('white');
	padding: 25px 0;

	.barrier-grid__heading {
		font-weight: normal;
		margin-top: 0;
		padding-left: 0;
	}

	.barrier-grid__article-title {
		@include oTypographySerif(l)

		&:before {
			content: '“';
		}

		&:after {
			content: '”';
		}
	}
}

.individual-b2b-prospect__content {
	padding-bottom: 20px;
}

.individual-b2b-prospect__title {
	@include oTypographySansBold(l)
}

.individual-b2b-prospect__subtitle {
	@include oTypographySans(l)

	&:before {
		background: oColorsGetPaletteColor('teal-1');
		content: '';
		display: block;
		height: 5px;
		margin-bottom: 20px;
		width: 200px;
	}
}

.individual-b2b-prospect__lead {
	@include oTypographySans(m);
}

.individual-b2b-prospect__quote-list-container {
	@include oGridRespondTo(L) {
		align-items: flex-start;
		display: flex;
	}
	margin-bottom: 30px;
}

.individual-b2b-prospect__quote__container {
	background: #f1f1f1;
	overflow: hidden;

	@include oGridRespondTo(L) {
		flex-shrink: 0;
		margin-left: 25px;
		width: 375px;
	}

}

.individual-b2b-prospect__quote {
	&:before {
		background: oColorsGetPaletteColor('teal-1');
		content: '';
		display: block;
		height: 3px;
		margin: 30px 40px 30px 40px;
		width: 95px;
	}
}

.individual-b2b-prospect__quote__text {
	@include oTypographySerif(m);
	color: oColorsGetPaletteColor('grey-tint3');
}

.individual-b2b-prospect__quote__footer {
	text-align: right;
}

.individual-b2b-prospect__quote__company {
	@include oTypographySansBold(m);
}

.individual-b2b-prospect__list {
	color: oColorsGetPaletteColor('grey-tint2');
	list-style: none;
	padding: 0;
	margin-top: 0;

	.individual-b2b-prospect__list__item {
		margin-bottom: 25px;
	}
}

.individual-b2b-prospect__list__title {
	@include oTypographySansBold(m);
	color: oColorsGetPaletteColor('grey-tint5');
	margin-bottom: 15px;
}

.individual-b2b-prospect__content__footer {
	background: oColorsGetPaletteColor('teal-1');
	color: oColorsGetPaletteColor('white');
	margin-top: 10px;
	padding: 30px;

	.individual-b2b-prospect__content__footer__title,
	.individual-b2b-prospect__content__footer__subtitle {
		margin: 0;
	}

	.individual-b2b-prospect__content__footer__title {
		margin-bottom: 5px;
	}

	.individual-b2b-prospect__content__footer__subtitle {
		@include oTypographySans(s);
	}

	.individual-b2b-prospect__button {
		@include oButtonsTheme(inverse);
	}
}

.individual-b2b-prospect__footer__subtitle {
	color: oColorsGetPaletteColor('grey-tint2');
	display: inline-block;
	margin-left: 5px;
}

.individual-b2b-prospect__button {
	@include oButtons();
	@include oButtonsSize(big);

	float: right;
}

.individual-b2b-prospect__footer {
	background: oColorsGetPaletteColor('white');
	padding: 30px;
}
