/*********************************************
* Styling for inline rendering of barriers
**********************************************/

/* inline class hacked into to app that results in barrier being invoked*/

.inline {
	.barrier-overlay,
	.barrier-grid,
	.subscription-barrier-grid,
	.trial-barrier-grid {
		z-index: auto;
		margin: 0 0 20px 0;
	}
}

/* Inline in article barrier styling */

.inline-barrier {
	display: inline-block;
	width: 100%;
	position: relative;
}

.inline-barrier__fader {
	// scss-lint:disable DuplicateProperty
	background: getColor('paper');
	//Super verbose in order to keep Safari happy
	background: linear-gradient(to bottom, rgba(getColor('paper'), 0), rgba(getColor('paper'), 0.8), rgba(getColor('paper'), 1));
	height: 160px;
	margin-top: -200px;
	position: relative;
}

.inline-barrier__content {
	background-color: getColor('white-60');
	border: 1px solid getColor('black-20');
	box-sizing: border-box;
	padding: 15px 15px 0;
	text-align: center;
}

.inline-barrier__bridge {
	@include oTypographySansBold('s');
	background: getColor('white');
	color: getColor('black-70');
	margin: -15px -15px 15px;
	padding: 10px;
}

.inline-barrier__heading {
	@include oTypographySansBold('m');
	color: getColor('black-70');
	margin: 0 0 5px;
}

.inline-barrier__body {
	font-size: 15px;
	font-weight: 400;
	line-height: 17px;
	margin: 0 0 10px;
}

.inline-barrier__cta-primary {
	.inline-barrier__button {
		@include oButtons();
		@include oButtonsSize(big);
		@include oButtonsTheme(standout);
	}
}

.inline-barrier__cta-secondary {
	@include oTypographySansSize('s');
	margin: 0 0 10px;
}

@include oGridRespondTo($until: 'M') {
	.inline-barrier__button {
		display: block;
	}
}

// Horrible hack for an MVT, to avoid shaving a humongous yak. Sorry, Internet.
// scss-lint:disable QualifyingElement
p.barrier-grid__heading-pretext {
	margin-top: 15px;
}
