/*********************************************
* Styling for inline rendering of barriers
**********************************************/

/* inline class hacked into to app that results in barrier being invoked*/

.inline {
	.barrier-overlay,
	.barrier-grid,
	.premium-barrier-simple,
	.subscription-barrier-grid,
	.trial-barrier-grid{
		z-index: auto;
	}
}
