@import 'mixins';
@import 'colors';
@import 'premium';
@import 'trial-grid';
@import 'barrier-grid';
@import 'registration';
@import 'suspended';
@import 'concurrency';
@import 'corporate';
@import 'narrow';
@import 'mobile';
@import 'corporate-prospect-trial'; // TODO: remove once old form is down
@import 'corp-prospect-trial'; // new corp prospect trial
@import 'individual-b2b-prospect'; // TODO: remove
@import 'individual-b2b';
@import 'embedded-b2b-prospect';
@import 'colour-trial-grid';
@import 'common';

.barrier-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: getColor('black-90');
	opacity: 0.6;
	top: 0;
	left: 0;
}

.barrier-grid__heading {
	margin-bottom: 0px;
	max-width: 75%;
	min-width: 75%;
	padding: 0 0 10px 10px;
	box-sizing: border-box;
	@include oTypographySansBold($scale: 2);
}

div .barrier-grid__heading {
	margin-bottom: 0px;
	max-width: 100%;
	min-width: 75%;
	padding: 0 0 0px 10px;
	box-sizing: border-box;
	@include oTypographySansBold($scale: 2);
}

h1 .barrier-grid__article-title {
	@include oTypographySans($scale: 2);
	display: block;
}

.barrier-grid__header .barrier-grid__sign-in {
	min-width: 100%;
}

.trial-barrier-grid__header .trial-barrier-grid__sign-in {
	min-width: 100%;
	background-color: getColor('black-20'); //to match other barriers
}

@include oGridRespondTo($from: L) {
	.trial-barrier-grid__header .trial-barrier-grid__sign-in {
		background-color: getColor('black-5');
	}
}

.barrier-grid__article-title {
	@include oTypographySans($scale: 2);
	margin-bottom: 10px;
	max-width: 100%;
	min-width: 75%;
	padding: 0 0 10px 10px;
	box-sizing: border-box;
}

.barrier-grid__section-heading {
	@include oTypographySansBold($scale: 2);
}

.barrier {
	:focus {
		outline: 4px solid getColor('claret');
		outline-offset: -4px;
	}
}
