@import 'colors';
@import 'premium';
@import 'subscription-grid';
@import 'trial-grid';
@import 'barrier-grid';
@import 'registration';
@import 'suspended';
@import 'concurrency';
@import 'corporate';
@import 'narrow';
@import 'mobile';
@import 'corporate-prospect-trial';
@import 'individual-b2b-prospect';

.barrier-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: getColor('black-90');
	opacity: 0.6;
	top: 0;
	left: 0;
}

.barrier-grid__heading {
	margin-bottom: 0px;
	font-weight: bold;
	max-width: 75%;
	min-width: 75%;
	padding: 0 0 10px 10px;
	font-size: 20px;
	box-sizing: border-box;
	@include oTypographySans();
}

div .barrier-grid__heading {
	margin-bottom: 0px;
	font-weight: bold;
	max-width: 100%;
	min-width: 75%;
	padding: 0 0 0px 10px;
	font-size: 20px;
	box-sizing: border-box;
}

h1 .barrier-grid__article-title {
	@include oTypographySans($scale: 2);
	display: block;
}


.barrier-grid__header .barrier-grid__sign-in {
	min-width: 100%;
}

.trial-barrier-grid__header .trial-barrier-grid__sign-in {
	min-width: 100%;
	background-color: getColor('black-20'); //to match other barriers
}

@include oGridRespondTo($from: L) {
	.trial-barrier-grid__header .trial-barrier-grid__sign-in {
		background-color: getColor('black-5');
	}
}

p .barrier-grid__article-title {
	@include oTypographySans($scale: 2);
	margin-bottom: 10px;
	max-width: 100%;
	min-width: 75%;
	padding: 0 0 10px 10px;
	font-size: 20px;
	box-sizing: border-box;
}

.barrier-grid__section-heading {
	@include oTypographySansBold($scale: 2);
}

.trial-barrier-grid__other-options {
	h2 {
		font-family: MetricWeb, sans-serif;
		line-height: 17px;
		font-size: 15px;
		font-weight: 600;
		text-align: center;
		padding-bottom: 10px;
		border-bottom: 1px solid getColor('black-5');
	}
}

.trial-barrier-grid__title {
	@include oTypographySansBold($scale: 1);
	color: getColor('teal-40');
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

.barrier {
	:focus {
		outline: 4px solid getColor('claret');
		outline-offset: -4px;
	}
}
