@import 'premium';
@import 'subscription-grid';
@import 'trial-grid';
@import 'barrier-grid';
@import 'registration';
@import 'suspended';
@import 'concurrency';
@import 'corporate';
@import 'inline';
@import 'narrow';
@import 'mobile';
@import 'brexit-trial-grid';
@import 'corporate-prospect-trial';

.barrier-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: oColorsGetPaletteColor('warm-4');
	opacity: 0.6;
	top: 0;
	left: 0;
}

.barrier-grid__heading {
	margin-bottom: 0px;
	font-weight: bold;
	max-width: 75%;
	min-width: 75%;
	padding: 0 0 10px 10px;
	font-size: 20px;
	box-sizing: border-box;
}

div .barrier-grid__heading {
	margin-bottom: 0px;
	font-weight: bold;
	max-width: 100%;
	min-width: 75%;
	padding: 0 0 0px 10px;
	font-size: 20px;
	box-sizing: border-box;
}

h1 .barrier-grid__article-title {
	font-weight: normal;
	display: block;
}


.barrier-grid__header .barrier-grid__sign-in {
	min-width: 100%;
}

.trial-barrier-grid__header .trial-barrier-grid__sign-in {
	min-width: 100%;
	background-color: getColor('pink-tint3'); //to match other barriers
}

@include oGridRespondTo($from: L) {
	.trial-barrier-grid__header .trial-barrier-grid__sign-in {
		background-color: getColor('warm-2');
	}
}

p .barrier-grid__article-title {
	margin-bottom: 10px;
	max-width: 100%;
	min-width: 75%;
	padding: 0 0 10px 10px;
	font-size: 20px;
	box-sizing: border-box;
}

.barrier-grid__suspended-header {
	font-size: 20px;
	line-height: initial;
}

.barrier-grid__section-heading {
	font-size: 20px;
}

.trial-barrier-grid__other-options {
	h2 {
		font-family: MetricWeb, sans-serif;
		line-height: 17px;
		font-size: 15px;
		font-weight: 600;
		text-align: center;
		padding-bottom: 10px;
		border-bottom: 1px solid getColor('pink-tint1');
	}
}

.trial-barrier-grid__title {
	color: getColor("teal-1");
	font-size: 1em;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.barrier {
	:focus {
		outline: 4px solid getColor('claret');
		outline-offset: -4px;
	}
}
