@mixin responsiveIcon($icon, $color, $large: 64, $medium: 64, $small: 32) {
    &-#{$icon} {
        @include oGridRespondTo($until: S) {
            @include oIconsGetIcon($icon, getColor($color), $small);
        }
        @include oGridRespondTo($until: M) {
            @include oIconsGetIcon($icon, getColor($color), $medium);
        }
        @include oIconsGetIcon($icon, getColor($color), $large);
    }
}