/*****************************************
* Header
*****************************************/
.mobile-barrier-grid__header {
    margin-top: 10px;
	padding: 5px 10px;
	background-color: getColor('black-5');

	h2 {
		@include oTypographySansBold($scale: 2);
		@include oGridColspan((default: full-width, L: three-quarters));
		margin: 0;

		.mobile-barrier-grid__heading-pretext {
			@include oTypographySans($scale: 2);
		}
	}
}

.mobile-barrier-grid__sign-in {
	@include oTypographySansBold($scale: 0);
	width: 100%;
	text-align: center;
	color: #636363;
	margin-bottom: 0;
}

/*****************************************
* Main options
*****************************************/
.mobile-barrier-grid__option-inner {
	padding: 10px 10px 10px 0;
	text-align: center;
	color: getColor('white');

	h3 {
		@include oTypographySansBold($scale: 2);
		margin: 0;
	}
	p {
		margin: 5px 0;
	}
}

.mobile-barrier-grid__option--option0 {
	background: #06374c;
}

.mobile-barrier-grid__option--option1 {
	background: #094965;
}

.mobile-barrier-grid__option--option2 {
	background: #0d5b7e;
}

.mobile-barrier-grid__option--option3 {
	background: #116e98;
}

.mobile-barrier-grid__options {
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.mobile-barrier-grid__option {
	border-radius: 5px;
    margin: 10px auto 0;
}

.mobile-barrier-grid__price {
	@include oTypographySans($scale: 2);
	display: inline-block;
	font-weight: bold;

	span {
		font-weight: normal;
	}
}
