.premium-a-barrier-grid__subscribe-btn-container {
	margin: 20px 0;
}

.premium-barrier-simple__subscribe-link {
	margin-bottom: 30px !important; // win specificity war
}

.barrier-grid--premium {
	position: relative;
	margin: 20px 0;
	-webkit-font-smoothing: antialiased;

	.barrier-grid__header {
		color: white;
		background-color: oColorsGetPaletteColor('teal-1');

		.barrier-grid__sign-in {
			padding: 15px 25px;
			text-align: right;
			background-color: transparent;
		}

		.barrier-grid__pretext {
			display: inline;
		}
	}

	.barrier-grid__sign-in-link {
		color: oColorsGetPaletteColor('white');
		border-bottom: 1px dotted oColorsGetPaletteColor('white');
		display: inline;
		margin-left: 5px;

		&:hover {
			border-bottom-color: transparent;
		}
	}

	.barrier-grid__header-content {
		margin: 25px;

		@include oGridRespondTo(M) {
			margin-left: 50px;
			margin-right: 0px;
		}
	}

	.barrier-grid__heading {
		margin: 0;
		padding: 2px 0;
		font-size: 2em;
		font-weight: 500;
		font-family: $o-typography-serif-display;
	}

	.barrier-grid__sub-heading {
		display: block;
		margin: 0;
		padding-top: 4px;
		font-size: 18px;
		font-family: $o-typography-sans;
	}

	.barrier-grid__body {
		background-color: oColorsGetPaletteColor('white');
	}

	.barrier-grid__divider-row {
		// TODO: Add #cecece to o-colors
		border-bottom: 1px solid #cecece;
	}

	.barrier-grid__premium-inclusions {
		padding-bottom: 20px;

		@include oGridRespondTo(M) {
			padding-bottom: 40px;
		}
	}

	.barrier-grid__section {
		color: oColorsGetPaletteColor('grey-tint4');
		border: none;

		@include oGridRespondTo(M) {
			padding: 25px 50px;
		}
	}

	.barrier-grid__section-heading {
		margin: 0;
		font-size: 26px;
		font-weight: 500;
	}

	.barrier-grid__description {
		font-size: 20px;
		line-height: 28px;
		margin: 20px 0 40px 0;
	}

	.barrier-grid__cta {
		overflow: auto;
		padding: 10px 15px;
		// TODO: Add #f1f1f1 to o-colors
		background-color: #f1f1f1;
		text-align: center;

		@include oGridRespondTo(M) {
			text-align: initial;
		}
	}

	.barrier-grid__cta-price-diff-text {
		margin-bottom: 0;
		line-height: 36px;
		text-transform: uppercase;

		@include oGridRespondTo(M) {
			margin: 0;
			display: inline-block;
		}
	}

	.premium-a-barrier-grid__subscribe-btn-container {
		margin-top: 0;
		margin-bottom: 10px;
		text-align: center;

		@include oGridRespondTo(M) {
			margin: 0;
			float: right;
		}

	}

	.barrier-grid__description-para {
		margin: 16px 0;
	}

	.barrier-grid__article-card-col {
		display: none;

		@include oGridRespondTo(L) {
			display: block;
			position: relative;
		}
	}

	.barrier-grid__section-article-card {
		position: absolute;
		bottom: 0;
		padding: 0;
		width: 100%;
		height: calc(100% + 50px);
		background-color: transparent;
	}

	.barrier-grid__article-card-container {
		padding: 0 60px;
		height: 100%;
	}

	.barrier-grid__article-card {
		// TODO: Add #fbe9da to o-colors
		background-color: #fbe9da;
		height: calc(100% - 20px);
		padding: 10px;
		box-shadow: 36px 12px 0 -12px rgba(0, 0, 0, 0.2);
	}

	.barrier-grid__article-card-img {
		margin-bottom: 10px;
	}

	.barrier-grid__article-card-img-placeholder {
		position: relative;
		padding-bottom: 56.25%;
		// TODO: Add #dadada to o-colors
		background-color: #dadada;

		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background: url('https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo:brand-ft?source=next&tint=999999,999999') 50%/20% no-repeat transparent;
		}
	}

	.barrier-grid__article-card-social {
		margin-bottom: 6px;
		padding: 5px 0;
		height: 20px;
		border-top: 1px solid oColorsGetPaletteColor('warm-3');
		border-bottom: 1px solid oColorsGetPaletteColor('warm-3');
	}

	.barrier-grid__article-card-skeleton--social {
		display: inline-block;
		height: 20px;
		background-color: rgba(204, 193, 179, 0.4);

		&:first-child {
			width: 40%;
		}

		&:last-child {
			width: 30%;
			float: right;
		}
	}

	.barrier-grid__article-card-skeleton--body {
		margin-bottom: 7px;
		height: 20px;
		background-color: rgba(204, 193, 179, 0.4);

		&:first-child {
			width: 20%;
		}

		@include oGridRespondTo(XL) {
			margin-bottom: 5px;

			&:nth-child(n+4):nth-child(-n+6) {
				display: none;
			}
		}
	}

	.barrier-grid__features-item:not(:last-child) {
		margin-bottom: 40px;
	}

	.barrier-grid__features-logo {
		width: 100px;
		height: 50px;
	}

	.barrier-grid__most-read {
		// TODO: Add #f1f1f1 to o-colors
		background-color: #f1f1f1;
		padding: 20px;
	}

	.barrier-grid__most-read-heading {
		margin-bottom: 20px;
		font-size: 24px;
		font-weight: 600;
	}

	.barrier-grid__most-read-sub-heading {
		margin: 0 0 44px;

		&:after {
			content: '';
			color: oColorsGetPaletteColor('teal-1');
			display: block;
			width: 80px;
			margin-top: 20px;
			border-bottom: 4px solid;
			position: absolute;
		}
	}

	.barrier-grid__most-read-item {
		margin-bottom: 30px;

		div {
			margin: 5px 0;
		}
	}

	.barrier-grid__most-read-headline {
		font-size: 20px;
		font-family: $o-typography-serif-display;
	}

	.barrier-grid__most-read-standfirst {
		font-size: 18px;
	}

	.barrier-grid__cta-suffix {
		@include oGridRespondTo(M) {
			float: right;

			div {
				display: inline-block;
				vertical-align: middle;

				&:last-child {
					padding-left: 25px;
				}
			}
		}
	}

	.barrier-grid__cta-suffix-text-container {
		margin-bottom: 20px;
		text-align: center;

		@include oGridRespondTo(M) {
			margin-bottom: 0;
		}
	}

	.barrier-grid__cta-suffix-text {
		margin: 0;
	}

	.barrier-grid__cta-suffix-sidenote-text {
		margin: 0;
		font-size: 14px;

		@include oGridRespondTo(M) {
			text-align: right;
		}
	}

	.barrier-grid__emphasis-text {
		font-weight: 600;
	}

	.barrier-grid__extra-emphasis-text {
		color: oColorsGetPaletteColor('teal-1');
	}
}
