.premium-barrier-simple {
	position: relative;
	margin: 20px 0;
	background-color: oColorsGetPaletteColor('white');

	h3 {
		@include oTypographySansBold(l);
		margin: 0 0 20px;
		text-align: center;
	}

	h4 {
		@include oTypographySans(m);
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	p {
		@include oTypographySans(m);
		margin: 0 0 20px;
		text-align: center;
	}
}

.premium-barrier-simple__header {
	background-color: oColorsGetPaletteColor('warm-2');

	h2 {
		@include oTypographySansBold(m);
		@include oGridColspan((default: full-width, L: three-quarters));
		margin: 0;
	}

	h2 {
		padding-left: 10px;
	}

	h2 .premium-barrier-simple__heading-pretext {
		display: block;
		padding-top: 10px;
	}

	h2 .premium-barrier-simple__article-title {
		font-weight: normal;
		display: block;
		margin-bottom: 10px;
	}

	.premium-barrier-simple__sign-in {
		@include oTypographySansBold(s);
		@include oGridColspan((default: full-width, L: one-quarter));

		background-color: oColorsGetPaletteColor('warm-3');
		padding: 10px;
		margin: 0;

		@include oGridRespondTo(L) {
			background-color: oColorsGetPaletteColor('warm-2');
			text-align: right;
			padding-top: 12px;
		}

	}

	.premium-barrier-simple__pretext {
		@include oGridRespondTo(L) {
			display: block;
		}
	}
}

.premium-barrier-simple__main {
	background-color: oColorsGetPaletteColor('white');
	padding: 20px !important;
}

.premium-barrier-simple__upgrade-now {
	@include oButtons();
	@include oButtonsSize(big);
	@include oButtonsTheme(standout);
	text-transform: none;
}

/*****************************************
* Other options
*****************************************/

.premium-barrier-simple__other-options {
	padding-top: 10px;
	background-color: oColorsGetPaletteColor('white');
}

.premium-barrier-simple__other-options h3 {
	@include oTypographySans(s);
	text-align: center;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid oColorsGetPaletteColor('warm-2');
	border-bottom: 1px solid oColorsGetPaletteColor('warm-2');
	margin-bottom: 0;
}

.premium-barrier-simple__other-option {
	@include oGridColspan((default: one-half, L: 3));

	.premium-barrier-simple__other-option-inner {
		text-align: center;
		padding-bottom: 10px;
		padding-top: 10px;
	}

	a {
		@include oTypographySansBold(s);
		border: 0;
		overflow: hidden;

		.premium-barrier-simple__option-options-text {
			display: block;
		}

		&:before {
			content: '';
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.premium-barrier-simple__other-option--corporate {
	@include oGridRespondTo(L) {
		@include oGridOffset(3);
	}
}

.premium-barrier-simple__other-option--corporate a {
	&:before {
		@include oIconsGetIcon('section-business-life', oColorsGetPaletteColor(link-1), 35);
	}
}

.premium-barrier-simple__other-option--newspaper a {
	&:before {
		@include oIconsGetIcon('newspaper', oColorsGetPaletteColor(link-1), 35);
	}
}

.premium-a-barrier-grid__subscribe-btn-container {
	margin: 20px 0;
}

.premium-barrier-simple__subscribe-link {
	margin-bottom: 30px !important; // win specificity war
}
