.premium-a-barrier-grid__subscribe-btn-container {
	margin: 20px 0;
}

.barrier-grid--premium {
	position: relative;
	margin: 20px 0;
	.barrier-grid__header {
		color: getColor('white');
		background-color: getColor('teal-40');
		.barrier-grid__sign-in {
			padding: 15px 25px;
			text-align: right;
			background-color: transparent;
		}
		.barrier-grid__pretext {
			display: inline;
		}
	}
	.barrier-grid__sign-in-link {
		color: getColor('white');
		border-bottom: 1px dotted getColor('white');
		display: inline;
		margin-left: 5px;
		&:hover {
			border-bottom-color: transparent;
		}
	}
	.barrier-grid__header-content {
		margin: 25px;
		@include oGridRespondTo(M) {
			margin-left: 50px;
			margin-right: 0;
		}
	}
	.barrier-grid__heading {
		margin: 0;
		padding: 2px 0;
		@include oTypographySansBold($scale: 0);
	}
	.barrier-grid__sub-heading {
		display: block;
		margin: 0;
		padding-top: 4px;
		@include oTypographySansBold($scale: 0);
	}
	.barrier-grid__body {
		background-color: getColor('white');
	}
	.barrier-grid__divider-row {
		border-bottom: 1px solid $greyCE;
	}
	.barrier-grid__lead {
		@include oGridRespondTo(L) {
			min-height: 266px;
		}
		@include oGridRespondTo(XL) {
			min-height: 238px;
		}
	}
	.barrier-grid__premium-inclusions {
		padding-bottom: 20px;
		@include oGridRespondTo(M) {
			padding-bottom: 40px;
		}
	}
	.barrier-grid__section {
		color: getColor('black-70');
		border: 0;
		@include oGridRespondTo(M) {
			padding: 25px 50px;
		}
	}
	.barrier-grid__section-heading {
		margin: 0;
		@include oTypographySansBold($scale: 3);
	}
	.barrier-grid__description {
		@include oTypographySize(2);
		line-height: 28px;
		margin: 20px 0 40px;
	}
	.barrier-grid__cta {
		padding: 10px 15px;
		background-color: $greyF1;
		text-align: center;
		@include oGridRespondTo(M) {
			height: 36px;
			text-align: initial;
		}
	}
	.barrier-grid__cta-price-diff-text {
		margin-top: 15px;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		text-transform: uppercase;
		@include oGridRespondTo(M) {
			display: inline-block;
			margin-top: 0;
		}
	}
	.premium-a-barrier-grid__subscribe-btn-container {
		margin-top: 0;
		margin-bottom: 10px;
		text-align: center;
		@include oGridRespondTo(M) {
			margin: 0;
			float: right;
		}
	}
	.barrier-grid__cta-btn {
		min-width: 150px;
	}
	.barrier-grid__cta-btn--disabled {
		pointer-events: none;
	}
	.barrier-grid__description-para {
		margin: 16px 0;
	}
	.barrier-grid__article-card-col {
		display: none;
		@include oGridRespondTo(L) {
			display: block;
			position: relative;
		}
	}
	.barrier-grid__section-article-card {
		position: absolute;
		bottom: 0;
		padding: 0;
		width: 100%;
		height: calc(100% + 50px);
		background-color: transparent;
		@include oGridRespondTo(XL) {
			height: calc(100% + 42px);
		}
	}
	.barrier-grid__article-card-container {
		padding: 0 60px;
		height: 100%;
	}
	.barrier-grid__article-card {
		background-color: getColor('white-10');
		height: calc(100% - 20px);
		padding: 10px;
		box-shadow: 36px 12px 0 -12px rgba(0, 0, 0, 0.2);
	}
	.barrier-grid__article-card-img {
		margin-bottom: 10px;
	}
	.barrier-grid__article-card-img-placeholder {
		position: relative;
		padding-bottom: 56.25%;
		background-color: $greyDA;
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background: url('https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo:brand-ft?source=next&tint=999999,999999') 50% / 20% no-repeat transparent;
		}
	}
	.barrier-grid__article-card-social {
		margin-bottom: 6px;
		padding: 5px 0;
		height: 20px;
		border-top: 1px solid getColor('black-20');
		border-bottom: 1px solid getColor('black-20');
	}
	.barrier-grid__article-card-skeleton--social {
		display: inline-block;
		height: 20px;
		background-color: rgba(204, 193, 179, 0.4);
		&:first-child {
			width: 40%;
		}
		&:last-child {
			width: 30%;
			float: right;
		}
	}
	.barrier-grid__article-card-skeleton--body {
		margin-bottom: 7px;
		height: 20px;
		background-color: rgba(204, 193, 179, 0.4);
		@include oGridRespondTo(XL) {
			margin-bottom: 5px;
			&:nth-child(n+4):nth-child(-n+6) {
				display: none;
			}
		}
		&:first-child {
			width: 20%;
		}
	}
	.barrier-grid__features-item:not(:last-child) {
		margin-bottom: 40px;
	}
	.barrier-grid__features-item-heading {
		@include oTypographySansBold($scale: 2);
	}
	.barrier-grid__most-read {
		background-color: $greyF1;
		padding: 20px;
	}
	.barrier-grid__most-read-heading {
		margin-bottom: 20px;
		@include oTypographySansBold($scale: 2);
	}
	.barrier-grid__most-read-sub-heading {
		margin: 0 0 44px;
		&::after {
			content: '';
			color: getColor('teal-40');
			display: block;
			width: 80px;
			margin-top: 20px;
			border-bottom: 4px solid;
			position: absolute;
		}
	}
	.barrier-grid__most-read-item {
		margin-bottom: 30px;
		div {
			margin: 5px 0;
		}
	}
	.barrier-grid__most-read-headline {
		@include oTypographyDisplay($scale: 2);
	}
	.barrier-grid__most-read-standfirst {
		@include oTypographySize($scale: 1);
	}
	.barrier-grid__cta-suffix {
		@include oGridRespondTo(M) {
			float: right;
			.barrier-grid__cta-suffix-text-container {
				display: inline-block;
				vertical-align: middle;
			}
			.premium-a-barrier-grid__subscribe-btn-container {
				display: inline-block;
				vertical-align: middle;
				padding-left: 25px;
			}
		}
	}
	.barrier-grid__cta-suffix-text-container {
		margin-bottom: 20px;
		text-align: center;
		@include oGridRespondTo(M) {
			margin-bottom: 0;
		}
	}
	.barrier-grid__cta-suffix-text {
		margin: 0;
	}
	.barrier-grid__cta-suffix-sidenote-text {
		margin: 0;
		@include oTypographySize($scale: 0);
		@include oGridRespondTo(M) {
			text-align: right;
		}
	}
	.barrier-grid__emphasis-text {
		font-weight: 600;
		margin: 0;
	}
	.barrier-grid__extra-emphasis-text {
		color: getColor('teal-40');
	}
	@media print {
		.barrier-grid__skeleton-cta-button,
		.barrier-grid__skeleton-cta-text {
			display: none !important;
		}
	}
	@mixin skeleton-line($width,
	$animation,
	$base-color,
	$variant-color) {
		width: $width;
		animation-duration: 1s;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		animation-name: $animation;
		animation-timing-function: linear;
		background-image: linear-gradient(to left, $base-color 0%, $variant-color 50%, $base-color 100%);
		background-repeat: no-repeat;
		background-size: $width 18px;
		height: 18px;
	}
	@keyframes bodyPulse {
		0% {
			background-position: -250px 0;
		}
		100% {
			background-position: 250px 0;
		}
	}
	.barrier-grid__skeleton-cta-text {
		@include skeleton-line(250px,
		bodyPulse,
		#f1f1f1,
		#dadada);
		display: inline-block;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		margin-top: 12px;
		@include oGridRespondTo(M) {
			margin-top: 0;
		}
	}
	.barrier-grid__skeleton-cta-button {
		@include skeleton-line(112px,
		bodyPulse,
		getColor('teal-40'),
		getColor('teal-80'));
	}
}
