
.trial-barrier-grid__registration {
	background-color: getColor('white');
}

.trial-barrier-grid__registration-inner {
	padding: 20px 10px;
	max-width: 400px;
	margin: 0 auto;

	> h3 {
		text-align: center;
	}

	> p {
		line-height: 40px;
		text-align: center;
	}
}

