$o-grid-gutters: (default: 0px, M: 0px);
@import '../package-grid';
@import '../other-options';
.trial-barrier-grid {
	position: relative;
	margin: 20px 0;
}

.trial-barrier-grid h2,
.trial-barrier-grid h3 {
	margin: 0;
}

.trial-barrier-grid__select {
	@include oButtons($size: big, $theme: primary);
}

.trial-barrier-grid__header {
	background-color: getColor('black-5');
	padding: 10px 0;
	h1,
	h2 {
		@include oTypographySansBold($scale: 2);
		@include oGridColspan((default: full-width, L: three-quarters));
	}
	h2 {
		padding-left: 10px;
		margin-bottom: 10px;
	}
	.barrier-grid__heading-pretext.barrier-grid__heading {
		padding: 0 0 0 10px;
		margin: 0;
	}
	.trial-barrier-grid__article-title {
		@include oTypographySansBold($scale: 1);
	}
	.trial-barrier-grid__sign-in {
		@include oTypographySansBold($scale: -1);
		@include oGridColspan((default: full-width, L: one-quarter));
		padding: 10px;
		@include oGridRespondTo(L) {
			text-align: right;
			padding-top: 12px;
		}
	}
	.trial-barrier-grid__pretext {
		@include oGridRespondTo(L) {
			display: block;
		}
	}
}

.mock-overlay {
	background: $transparentBlack50;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 2;
	top: 0;
	left: 0;
}

.barrier-mock-overlay {
	z-index: 3;
}

.barrier-grid__heading {
	@include oTypographySansBold($scale: 2);
	margin-bottom: 10px;
	max-width: 75%;
	min-width: 75%;
	padding: 0 0 10px 10px;
	box-sizing: border-box;
}

p .barrier-grid__heading-pretext {
	padding-top: 10px;
	display: block;
}

.barrier-grid__article-title {
	font-weight: normal;
	display: block;
}

.barrier-grid__article-subtext {
	@include oTypographySans($scale: 0);
	display: block;
}