$o-grid-gutters: (default: 0px, M: 0px);

.trial-barrier-grid {
	position: relative;
	margin: 20px 0;
}

.trial-barrier-grid h2,
.trial-barrier-grid h3,
.trial-barrier-grid p {
	margin: 0;
}

.trial-barrier-grid__header {
	background-color: oColorsGetPaletteColor('warm-2');

	h2 {
		@include oTypographySansBold(m);
		@include oGridColspan((default: full-width, L: three-quarters));
	}

	h2 {
		padding-left: 10px;
		margin-bottom: 10px;
	}

	h2 .trial-barrier-grid__heading-pretext {
		display: block;
		padding-top: 10px;

	}

	h2 .trial-barrier-grid__article-title {
		font-weight: normal;
		display: block;
	}

	.trial-barrier-grid__sign-in {
		@include oTypographySansBold(s);
		@include oGridColspan((default: full-width, L: one-quarter));

		padding: 10px;

		@include oGridRespondTo(L) {
			text-align: right;
			padding-top: 12px;
		}

	}

	.trial-barrier-grid__pretext {
		@include oGridRespondTo(L) {
			display: block;
		}
	}
}

/*****************************************
* Main options
*****************************************/



.trial-barrier-grid {
	.trial-barrier-grid__options--2 .trial-barrier-grid__option {
		min-width: 50%;
	}
	.trial-barrier-grid__options--3 .trial-barrier-grid__option {
		min-width: 33.33%;
	}
	.trial-barrier-grid__options--4 .trial-barrier-grid__option {
		min-width: 25%;
	}

	.trial-barrier-grid__options {
		h3 {
			position: relative;
			@include oTypographySans(s);
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 10px;
			font-weight: bold;
		}
		.subtitle {
			position: absolute;
			left: 0;
			right: 0;
			top: 14px;
			display: block;
			text-transform: uppercase;
			color: #A02D4F;
			text-align: center;
		}
	}

	.trial-barrier-grid__image {
		margin-bottom: 10px;
		img {
			width: 80%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.trial-barrier-grid__primary {
		text-align: center;
		margin-bottom: 20px;
	}

	.trial-barrier-grid__price,
	.trial-barrier-grid__select {
		display: inline-block;
	}

	.trial-barrier-grid__price {
		margin-right: 4px;
		font-weight: bold;
		font-size: 20px;
		@include oGridRespondTo(L) {
			display: block;
			margin-right: 0;
			margin-bottom: 10px;

			&.standout {
				background-color: #9e2f50;
				color: white;
				padding: 5px;
				.terms-and-conditions__marker {
					color: #fff;
				}
			}
		}

		span {
			font-weight: normal;
			font-size: 18px;
		}
	}

	.trial-barrier-grid__select {
		@include oButtons();
		@include oButtonsSize(big);
		@include oButtonsTheme(standout);
		text-transform: none;
	}

	.trial-barrier-grid__secondary {

		padding-left: 30px;
		padding-right: 30px;

		h4 {
			@include oTypographySansBold(s);
			margin-bottom: 3px;
			margin-top: 0;
		}

		ul {
			@include oTypographySansBold(s);
			list-style: none;
			font-weight: normal;
			margin: 0 0 20px;
			padding: 0;
		}

	}

	.trial-barrier-grid__option li {
		position: relative;
		margin-left: 20px;

		&:before {
			@include oIconsGetIcon('tick', #35bd14, 14);
			content: '';
			margin-right: 4px;
			position: absolute;
			top: 2px;
			left: -20px;
		}
	}

	.trial-barrier-grid__option-inner {
		background-color: oColorsGetPaletteColor('white');
		padding-top: 20px;
		padding-bottom: 10px;

		flex: 1;
	}

	.trial-barrier-grid__option {

		@include oGridColspan((default: full-width, S: one-half, L: one-quarter));
		background: white;
		color: black;
		border-bottom: 1px solid oColorsGetPaletteColor('warm-2');

		&.trial-barrier-grid__option--option0,
		&.trial-barrier-grid__option--option2 {
			@include oGridRespondTo(S) {
				border-right: 1px solid oColorsGetPaletteColor('warm-2');
			}
		}

		&.trial-barrier-grid__option--option0,
		&.trial-barrier-grid__option--option1,
		&.trial-barrier-grid__option--option {
			@include oGridRespondTo(L) {
				border-right: 1px solid oColorsGetPaletteColor('warm-2');
			}
		}

	}

	.trial-barrier-grid__learn-more {
		@include oTypographySansBold(s);

		a {
			text-decoration: none;
			color: oColorsGetPaletteColor(link-1);
		}
	}

	.trial-barrier-grid__option-discount {
		background: #f5f5f5;

		.trial-barrier-grid__option-inner {
			background: #f5f5f5;
			
		}

	}
}


.trial-barrier-grid--missing-newspaper {

	.trial-barrier-grid__option {
		@include oGridColspan((default: full-width, M: one-third));

		&.trial-barrier-grid__option--option2,
		&.trial-barrier-grid__option--option3 {
			@include oGridRespondTo(M) {
				border-right: 1px solid oColorsGetPaletteColor('warm-2');
			}
		}

		&.trial-barrier-grid__option--option4 {
			border-right: 0;
		}
	}

	.trial-barrier-grid__price {
		margin-right: 4px;
		@include oGridRespondTo(M) {
			display: block;
			margin-right: 0;
			margin-bottom: 10px;
		}
	}
}

/*****************************************
* Other options
*****************************************/

.trial-barrier-grid__other-options {
	padding-top: 10px;
	background-color: oColorsGetPaletteColor('white');
}

.trial-barrier-grid__other-options h3 {
	@include oTypographySansBold(s);
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid oColorsGetPaletteColor('warm-2');
}

.trial-barrier-grid__other-option {
	@include oGridColspan((default: one-third));

	.trial-barrier-grid__other-option-inner {
		text-align: center;
		padding-bottom: 18px;
	}

	a {
		@include oTypographySansBold(s);
		border: 0;
		overflow: hidden;

		.trial-barrier-grid__option-options-text {
			display: block;
		}

		&:before {
			content: '';
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.trial-barrier-grid__other-option--corporate a {
	&:before {
		@include oIconsGetIcon('section-business-life', oColorsGetPaletteColor(link-1), 35);
	}
}

.trial-barrier-grid__other-option--newspaper a {
	&:before {
		@include oIconsGetIcon('newspaper', oColorsGetPaletteColor(link-1), 35);
	}
}

.trial-barrier-grid__other-option--weekend a {
	&:before {
		@include oIconsGetIcon('ipad-portrait', oColorsGetPaletteColor(link-1), 35);
	}
}

.mock-overlay {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 2;
	top: 0;
	left: 0;
}

.barrier-mock-overlay {
	z-index:3;
}

.trial-barrier-grid__header .u-visually-hidden {
	padding: 0;
	margin: 0;
}

p.barrier-grid__heading {
	margin-bottom: 10px;
	font-weight: bold;
	max-width: 75%;
	min-width: 75%;
	padding: 0 0 10px 10px;
	font-size: 20px;
	box-sizing: border-box;
}

p .barrier-grid__heading-pretext {
	padding-top: 10px;
	display:block;
}

p .barrier-grid__article-title {
	font-weight: normal;
	display: block;
}

p .barrier-grid__article-subtext {
	font-weight: normal;
	font-size: 15px;
	display: block;
}
