$o-grid-gutters: (default: 0px, M: 0px);

.trial-barrier-grid {
	position: relative;
	margin: 20px 0;
}

.trial-barrier-grid h2,
.trial-barrier-grid h3,
.trial-barrier-grid p {
	margin: 0;
}

.trial-barrier-grid__header {
	background-color: oColorsGetPaletteColor('warm-2');

	h2 {
		@include oTypographySansBold(m);
		@include oGridColspan((default: full-width, L: three-quarters));
	}

	h2 {
		padding-left: 10px;
		margin-bottom: 10px;
	}

	h2 .trial-barrier-grid__heading-pretext {
		display: block;
		padding-top: 10px;

	}

	h2 .trial-barrier-grid__article-title {
		font-weight: normal;
		display: block;
	}

	.trial-barrier-grid__sign-in {
		@include oTypographySansBold(s);
		@include oGridColspan((default: full-width, L: one-quarter));

		padding: 10px;

		@include oGridRespondTo(L) {
			text-align: right;
			padding-top: 12px;
		}

	}

	.trial-barrier-grid__pretext {
		@include oGridRespondTo(L) {
			display: block;
		}
	}
}

/*****************************************
* Main options
*****************************************/



.trial-barrier-grid {
	.trial-barrier-grid__options--2 .trial-barrier-grid__option {
		min-width: 50%;
	}
	.trial-barrier-grid__options--3 .trial-barrier-grid__option {
		min-width: 33.33%;
	}
	.trial-barrier-grid__options--4 .trial-barrier-grid__option {
		min-width: 25%;
	}

	.trial-barrier-grid__options {
		h3 {
			position: relative;
			@include oTypographySans(s);
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 10px;
			font-weight: bold;
		}

		.subtitle {
			position: absolute;
			left: 0;
			right: 0;
			top: 14px;
			display: block;
			text-transform: uppercase;
			color: #A02D4F;
			text-align: center;
		}

		.trial-barrier-grid__title {
			margin: 10px 0;
		}
		
		.trial-barrier-grid__secondary-description-title {
			text-align: left;
			text-transform: none;
		}
	}

	.trial-barrier-grid__image {
		margin-bottom: 10px;
		img {
			width: 80%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.trial-barrier-grid__primary {
		text-align: center;
		margin-bottom: 20px;
	}

	.trial-barrier-grid__primary--sub-offer {
		border-top: 1px solid oColorsGetPaletteColor('warm-2');
		padding-top: 10px;
	}

	.trial-barrier-grid__price,
	.trial-barrier-grid__select {
		display: inline-block;
	}

	.trial-barrier-grid__price {
		margin-right: 4px;
		font-weight: bold;
		font-size: 20px;
		@include oGridRespondTo(L) {
			display: block;
			margin-right: 0;
			margin-bottom: 10px;

			&.standout {
				background-color: #9e2f50;
				color: white;
				padding: 5px;
				.terms-and-conditions__marker {
					color: #ffffff;
				}
			}
		}

		span {
			font-weight: normal;
			font-size: 18px;
		}
	}

	.trial-barrier-grid__select {
		@include oButtons();
		@include oButtonsSize(big);
		@include oButtonsTheme(standout);
		text-transform: none;
	}

	.trial-barrier-grid__secondary {

		padding-left: 30px;
		padding-right: 30px;

		h4 {
			@include oTypographySansBold(s);
			margin-bottom: 3px;
			margin-top: 0;
		}

		ul {
			@include oTypographySansBold(s);
			list-style: none;
			font-weight: normal;
			margin: 0 0 20px;
			padding: 0;
		}

	}

	.trial-barrier-grid__option li {
		position: relative;
		margin-left: 20px;

		&:before {
			@include oIconsGetIcon('tick', #35bd14, 14);
			content: '';
			margin-right: 4px;
			position: absolute;
			top: 2px;
			left: -20px;
		}
	}

	.trial-barrier-grid__option-inner {
		background-color: oColorsGetPaletteColor('white');
		padding-top: 20px;
		padding-bottom: 10px;

		flex: 1;
	}

	.trial-barrier-grid__option {

		@include oGridColspan((default: full-width, S: one-half, L: one-quarter));
		background: white;
		color: black;
		border-bottom: 1px solid oColorsGetPaletteColor('warm-2');

		&.trial-barrier-grid__option--option0,
		&.trial-barrier-grid__option--option2 {
			@include oGridRespondTo(S) {
				border-right: 1px solid oColorsGetPaletteColor('warm-2');
			}
		}

		&.trial-barrier-grid__option--option0,
		&.trial-barrier-grid__option--option1,
		&.trial-barrier-grid__option--option {
			@include oGridRespondTo(L) {
				border-right: 1px solid oColorsGetPaletteColor('warm-2');
			}
		}

	}

	.trial-barrier-grid__learn-more {
		@include oTypographySansBold(s);

		a {
			text-decoration: none;
			color: oColorsGetPaletteColor(link-1);
		}
	}

	.trial-barrier-grid__option-discount {
		background: #f5f5f5;

		.trial-barrier-grid__option-inner {
			background: #f5f5f5;
		}

	}
}

.trial-barrier-grid--missing-newspaper {

	.trial-barrier-grid__option {
		@include oGridColspan((default: full-width, M: one-third));

		&.trial-barrier-grid__option--option2,
		&.trial-barrier-grid__option--option3 {
			@include oGridRespondTo(M) {
				border-right: 1px solid oColorsGetPaletteColor('warm-2');
			}
		}

		&.trial-barrier-grid__option--option4 {
			border-right: 0;
		}
	}

	.trial-barrier-grid__price {
		margin-right: 4px;
		@include oGridRespondTo(M) {
			display: block;
			margin-right: 0;
			margin-bottom: 10px;
		}
	}
}

/*****************************************
* Other options
*****************************************/

.trial-barrier-grid__other-options {
	padding-top: 10px;
	background-color: oColorsGetPaletteColor('white');
}

.trial-barrier-grid__other-options h3,
.trial-barrier-grid__other-options p {
	@include oTypographySansBold(s);
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid oColorsGetPaletteColor('warm-2');
}

// Avoiding refactoring due to hairy yak fear 🙈
.trial-barrier-grid__other-options div p {
	border: 0;
	margin: 15px 0;
}

.trial-barrier-grid__other-option {

	.trial-barrier-grid__other-option-inner {
		text-align: center;
		padding-bottom: 18px;
	}

	a {
		@include oTypographySansBold(s);
		border: 0;
		overflow: hidden;

		.trial-barrier-grid__option-options-text {
			display: block;
		}

		&:before {
			content: '';
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.trial-barrier-grid__other-options .trial-barrier-grid__other-option {
	@include oGridColspan((default: one-third));
}

.trial-barrier-grid__other-options[data-option-count="3"] .trial-barrier-grid__other-option {
	@include oGridColspan((default: one-third));
}

.trial-barrier-grid__other-options[data-option-count="4"] .trial-barrier-grid__other-option {
	@include oGridColspan((default: one-quarter));
}

.trial-barrier-grid__other-option--corporate a {
	&:before {
		@include oIconsGetIcon('corporate', oColorsGetPaletteColor(link-1), 35);
	}
}

.trial-barrier-grid__other-option--newspaper a {
	&:before {
		@include oIconsGetIcon('newspaper', oColorsGetPaletteColor(link-1), 35);
	}
}

.trial-barrier-grid__other-option--weekend-paper a {
	&:before {
		// TODO: this is temporary before the feature is permanent and then we
		// can add the icon to oIcons (fticons) as with the others
		background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fwww.ft.com%2F__assets%2Fcreatives%2Ficons%2Fweekend-premium.svg?source=next&tint=%2326747A,%2326747A&format=svg");
		background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fwww.ft.com%2F__assets%2Fcreatives%2Ficons%2Fweekend-premium.svg?source=next&tint=%2326747A,%2326747A&format=png&width=35") \9;
		width: 35px;
		height: 35px;
		display: inline-block;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 50%;
		background-color: transparent;
		vertical-align: baseline;
	}

	.trial-barrier-grid__option-options-text {
		&:before {
			content: 'new';
			text-transform: uppercase;
			font-size: 10px;
			line-height: 10px;
			font-weight: 400;
			color: #fff;
			background-color: #d66d06;
			padding: 1px 2px;
			margin-right: 5px;
		}
	}
}

.trial-barrier-grid__other-option--weekend a {
	&:before {
		@include oIconsGetIcon('ipad', oColorsGetPaletteColor(link-1), 35);
	}
}

.mock-overlay {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 2;
	top: 0;
	left: 0;
}

.barrier-mock-overlay {
	z-index: 3;
}

.trial-barrier-grid__header .u-visually-hidden {
	padding: 0;
	margin: 0;
}

.barrier-grid__heading {
	margin-bottom: 10px;
	font-weight: bold;
	max-width: 75%;
	min-width: 75%;
	padding: 0 0 10px 10px;
	font-size: 20px;
	box-sizing: border-box;
}

p .barrier-grid__heading-pretext {
	padding-top: 10px;
	display: block;
}

p .barrier-grid__article-title {
	font-weight: normal;
	display: block;
}

p .barrier-grid__article-subtext {
	font-weight: normal;
	font-size: 15px;
	display: block;
}

// styles for multiple trials on trial-grid

.trial-barrier-grid .trial-barrier-grid__options .trial-barrier-grid__title.trial-barrier-grid__title__secondary {
	text-align: left;
	padding-left: 10px;
	margin-bottom: 5px;
}

.trial-barrier-grid .trial-barrier-grid__options .trial-barrier-grid__price.trial-barrier-grid__price__secondary {
	text-align: left;
	display: block;
	padding-left: 10px;
	margin-bottom: 5px;
}

.trial-barrier-grid__primary--sub-offer {
	border-bottom-color: getColor('pink');
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 10px;
	position: relative;
}

.trial-barrier-grid__select__secondary::before {
	content: 'OR';
	position: absolute;
	top: -20px;
	right: 35px;
	background: white;
	padding: 0 10px;
	color: getColor('grey-tint4');
}

.trial-barrier-grid__primary .trial-barrier-grid__select.trial-barrier-grid__select__test {
	margin-top: 10px;
}
.trial-barrier-grid__primary .trial-barrier-grid__select.trial-barrier-grid__select__secondary {
	margin-top: 10px;
	font-size: 13px;
	padding-left: 8px;
	padding-right: 8px;
}

.trial-barrier-grid__price__transparency {
	color: getColor('grey-tint4');
	text-align: left;
	padding: 0 10px;
	font-size: 14px;
}

.trial-barrier-grid__secondary.trial-barrier-grid__price__transparency {
	margin: 0 20px 15px 20px;
	padding: 0;
}

.trial-barrier-grid__secondary h2 {
	font-size: 14px;
}
